---
# <!-- @formatter:off -->
title: Contato Campus Management
label: Contato
in-nav--pt-br: false
alt--en: /contact-us/
alt--en-in: /en-in/contact-us/
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--contact-us.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">Contato</h1>
        <p class="ht--p--14-075 header__subtitle">Por favor complete e envie o formulário abaixo. Assegure-se de selecionar
            o motivo da mensagem para que seja enviada a pessoa responsável.
        </p>
    </div>

    <form
        id="requestDemoForm"
        class="cmc-form cmc-form--centered"
        action="contact-us/?site=cmc&group=pt-br"
        data-success-redirect-url="{{url-lang-prefix}}/contato/contato-complete/"
    >
        <fieldset>
            <ul>
                <li>
                    <label
                        class="required"
                        for="firstName"
                    >Nome</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="firstName"
                            id="firstName"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="lastName"
                    >Sobrenome</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="lastName"
                            id="lastName"
                        />

                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="email"
                    >Email</label>
                    <div class="input-wrapper">
                        <input
                            type="email"
                            name="email"
                            id="email"
                            required
                        />

                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="phone"
                    >Telefone</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="phone"
                            id="phone"
                            required
                        />

                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="reasonForInquiry"
                    >Motivo de consulta</label>

                    <div class="input-wrapper">
                        <select
                            name="reasonForInquiry"
                            id="reasonForInquiry"
                            required
                        >
                            <option
                                selected="selected"
                                value=""
                            ></option>
                            <option value="Careers">Carreira</option>
                            <option value="Sales">Agende uma visita</option>
                            <option value="Support">Suporte</option>
                            <option value="Press">Parcerias</option>
                            <option value="General">Geral</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label
                        class="required tallInputLabel"
                        for="message"
                    >Message</label>
                    <div class="input-wrapper">
                        <textarea
                            name="message"
                            id="message"
                            required
                        ></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button
                        type="submit"
                        class="pill-button cmc-form__submit-button"
                        name="btnSave"
                    >Submit
                    </button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "after-body"}}

{{>contact-details-list-pt-br}}

{{/content}}

{{/extend}}
