@import 'components/products-and-solutions';
@import 'components/products-and-solutions-items';

.box-item--empty {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.box-item--flex-none {
    flex: none;
}

.layout__bg--product-tool-tips {
    padding-top: rhythm(1);
    background-color: $font-color-lightest;
}

.sprite-img:before {
    display: block;
    background-size: cover;
    content: ' ';
}

.sprite-img--link-box-request-demo {
    &:before {
        width: 124px;
        height: 94px;
        background-image: url('/images/ui/link-box--request-a-demo@2x.png');
    }
}

.sprite-img--link-box-product-sheets {
    &:before {
        width: 86px;
        height: 113px;
        background-image: url('/images/ui/link-box--product-sheets@2x.png');
    }
}

.sprite-img--link-box-product-center {
    &:before {
        width: 132px;
        height: 109px;
        background-image: url('/images/ui/link-box--product-center@2x.png');
    }
}

.sprite-img--link-box-case-studies {
    &:before {
        width: 171px;
        height: 130px;
        background-image: url('/images/ui/link-box--case-studies@2x.png');
    }
}

.sprite-img--link-box-insights {
    &:before {
        width: 161px;
        height: 116px;
        background-image: url('/images/ui/link-box--insights@2x.png');
    }
}

.sprite-img--link-box-news {
    &:before {
        width: 115px;
        height: 97px;
        background-image: url('/images/ui/link-box--news@2x.png');
    }
}

.cmc-footer__news-about-container {

    @media (min-width: $screen-md-min) {
        @supports (grid-gap: 0) {
            /* autoprefixer grid: no-autoplace */
             display: block;
            grid-column: auto; //span 2;
            grid-template-columns: 1fr 1fr;
        }
    }
}
