@import 'cmc-site/app/styles/common-imports';
@import 'cmc-site/app/styles/base/util';
@import 'cmc-site/app/styles/components/menu/headroom';
@import 'cmc-site/app/styles/components/form-wall';
@import 'cmc-site/app/styles/components/location-notification';

@font-face {
    font-weight: 300;
    font-family: 'Open Sans';
    font-style: normal;
    src:
        local('Open Sans Light'),
        local('OpenSans-Light'),
        url('/fonts/open-sans-v16-latin-300.woff2') format('woff2'),
        url('/fonts/open-sans-v16-latin-300.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    src:
        local('Open Sans Regular'),
        local('OpenSans-Regular'),
        url('/fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
        url('/fonts/open-sans-v16-latin-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: 'Oswald';
    font-style: normal;
    src:
        local('Oswald Regular'),
        local('Oswald-Regular'),
        url('/fonts/oswald-v17-latin-regular.woff2') format('woff2'),
        url('/fonts/oswald-v17-latin-regular.woff') format('woff');
    font-display: swap;
}

.video-link-list {
    @include make-row();

    &.is-hidden {
        display: none;
    }
}

.left-nav-menu__toggle-contents {
    display: none;
}
