---
# <!-- @formatter:off -->
title: CampusInsight
in-nav--pt-br: false
banner-image: /images/pages/news-and-events/campusinsight2019-bkg.jpg
alt--en: /news-and-events/events/CampusInsight/
alt--en-in: /en-in/news-and-events/events/CampusInsight/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<article>
    <header
        class="c c-font-color-lightest header-with-video-v2"
        style="background-image: url('/images/pages/news-and-events/campusinsight2019-bkg.jpg')"
    >
        <div class="box-row">
            <div
                class="box-item box-item--not-flex col-xs-12 col-sm-8 col-lg-offset-2 pb2-5--md pt2-5--md"
                style="flex: none"
            >
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        src="//www.youtube.com/embed/yjUw8QSKwQo?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="Vince Johnson Talks CampusNexus"
                    ></iframe>
                </div>
            </div>
        </div>

        <h1 class="ht--s--38-45 article__title">{{title}}</h1>
        <p class="ht--p--16-22 pb1--sm">
            Participe do famoso evento da Campus Management
        </p>
    </header>

    <div class="bgc--xs--lightest">
        <div class="box-row box-row--sm--reversed--centered-title">
            <div class="box-item box-item--no-min-height col-xs-12 pb0">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm pb1--sm">
                    Marque agora em seus calendários!
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-5 pt0 pb0--xs-only">
                <img
                    class="box-item__img c"
                    src="/images/pages/news-and-events/events/Gaylord-Hotel-CI2020.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-7 pt0">
                <p class="c-font-color-text-dark box-item__text">
                    Há algo para cada pessoa no CampusInsight: Participe de sessões abertas, eventos de conexão e três
                    dias completos de treinamento pré-conferência focado no produto.
                    Forbes.com

                </p>
                <p class="c-font-color-text-dark box-item__text">
                    CampusInsight 2020
                    <br />
                    Gayloard Texan Resort & Convention Center
                    <br />
                    Grapevine, Texas
                    <br />
                    April 27 - May 1, 2020
                    <br />
                </p>

            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
