---
# <!-- @formatter:off -->
title: Eventos
banner-image: /images/pages/news-and-events/events/Banner_events.png
alt--en: /news-and-events/events/
alt--en-in: /en-in/news-and-events/events/
additional-stylesheets:
  - href: /styles/pages/news-and-events__events.css
    inline: true
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <div class="cmc-article">
        <header class="c c-font-color-lightest pt2-5--md pb2-5--md">
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
            <p class="ht--p--16-22">
                Campus Management Contribui Fortemente para Conferências e Eventos da Indústria
            </p>
        </header>
    </div>
    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 c-font-color-text-darker">

                <ul class="events-list">
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">February 15
                            - 17, 2017
                        </p>
                        <p class="events-list__place">
                            TACCF 2017
                            <br />
                            Texas Association of Community College Foundations
                            <br />
                            Austin,Texas
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">March 27 -
                            29, 2017
                        </p>
                        <p class="events-list__place">
                            NERCOMP
                            <br />
                            Northeast Regional Computing Program
                            <br />
                            Providence, RI
                            <br />
                            Booth 410
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">April 2 - 5,
                            2017
                        </p>
                        <p class="events-list__place">
                            AACRAO 2017
                            <br />
                            Minneapolis, Minn
                            <br />
                            Booth 629
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">April 4 - 7,
                            2017
                        </p>
                        <p class="events-list__place">
                            ACCJC
                            <br />
                            Accrediting Commission for Community and Junior Colleges Conference
                            <br />
                            Irvine,CA
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">April 24 -
                            28, 2017
                        </p>
                        <p class="events-list__place">
                            CampusInsight 2017
                            <br />
                            Campus Management Users Conference
                            <br />
                            Orlando, Fl
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">June 7 - 9,
                            2017
                        </p>
                        <p class="events-list__place">
                            CECU 2017
                            <br />
                            Las Vegas, Nev
                            <br />
                            Booth 401
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">July 30 -
                            August 1, 2017
                        </p>
                        <p class="events-list__place">
                            NACUBO
                            <br />
                            Minneapolis, Minn
                            <br />
                            Booth 423
                        </p>
                    </li>
                    <li>
                        <p class="ht--p-400--16 c-font-color-text-dark article__subtitle events-list__time">October 31 -
                            November 3, 2017
                        </p>
                        <p class="events-list__place">
                            EDUCAUSE
                            <br />
                            Philadelphia, PA
                            <br />
                            Booth 609
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
