---
# <!-- @formatter:off -->
title: CampusVue Performance Analytics
banner-image: /images/pages/products/banner-nexus-logo.png
in-nav--pt-br: false
menu-priority: 1
publish: draft
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />
    <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Análise de desempenho sob demanda</p>

    <p>Com o aumento das matrículas, orçamentos mais apertados e exigências elevadas de responsabilidade pública e de
        geração de relatórios, as instituições modernas estão enfrentando uma pressão cada vez maior para mostrar seu
        valor e conter suas despesas.</p>
    <p>Os tomadores de decisão devem ter em mãos informações importantes sobre assuntos que vão desde a captação e
        retenção até bolsas e financiamento a alunos e trabalho remunerado. Porém, dados operacionais brutos não são
        informação. Eles devem ser extraídos e transformados em informações utilizáveis que façam sentido – e é disso
        que trata a Análise de desempenho do CampusVue®, desenvolvida pela eThority.</p>

    <p class="ht--p-400--16 c-font-color-text-dark article__subtitle">Insight imediato</p>

    <p>Imagine poder medir e refinar campanhas de captação enquanto elas estão em andamento, redirecionando esforços e
        recursos para canais que estejam alcançando os melhores resultados. Com a Análise de desempenho do CampusVue,
        você pode realizar análises comparativas imediatas para tomar decisões estratégicas em tempo real em relação a
        diversas questões:</p>
    <ul class="list--normal">
        <li>Previsão de ingressos</li>
        <li>Taxas de captação e retenção</li>
        <li>Regras do trabalho remunerado</li>
        <li>Alocação de recursos</li>
        <li>Campanhas de marketing</li>
        <li>Satisfação do aluno</li>
        <li>Conformidade regulatória</li>
    </ul>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a class="pill-button cmc-article__link"
               href="/solucoes/dl-case-study/582551d0f88f2157b6881200/Campus_Management_Infnet_Case_Study.pdf/">Veja o Case Study</a>
        </li>
    </ul>
</div>
{{/content}}

{{#content "after-body"}}
<div class="bgg-theme-primary--theme-primary c-font-color-lightest reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light">
            {{>[box-v3/campusnet-cloud-pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary">
            {{>[box-v3/lancaster-bibble-college-pt-br]}}
        </div>
    </div>
</div>
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
