---
# <!-- @formatter:off -->
title: CampusNexus CRM
banner-image: /images/pages/products/crm/banner-student-retention.png
menu-priority: 0.8
alt--en: /products/crm-for-higher-education/
alt--en-in: /en-in/products/crm-for-higher-education/
page-bg-image: /images/pages/products/crm/crm-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article>
    <div class="cmc-article cmc-article--with-min-height">
        <header class="c c-font-color-lightest">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/products/crm/banner-crm-circle.png"
                alt="CampusNexus CRM"
            />
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
            <p class="ht--p--16-22">
                Adapte-se a um mercado que muda rapidamente
            </p>
        </header>
    </div>

    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--info-box-v2 box-item--not-flex col-xs-12 pt2-5--sm pb2-5--sm">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    Há mais concorrência por menos candidatos, o que afeta tanto as taxas de matrícula quanto de
                    retenção.
                </h2>

                <img
                    class="box-item__img c fr--sm"
                    src="/images/pages/products/crm/drive-success-student-lifecycle.jpg"
                    alt="Drive Success Student Lifecycle"
                >

                <p class="box-item__title ht--s--22 c-font-color-text-darker">Matrícula</p>
                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    O CampusNexus CRM inclui um processo de admissões baseado nas melhores práticas do ensino superior,
                    que ajuda a melhorar seus resultados de recrutamento e maximizar o rendimento. Use esse recurso do
                    jeito que o receber ou configure seu próprio modelo de admissões para atingir suas metas de
                    recrutamento.
                </p>
                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    Isso permite a você identificar os melhores clientes potenciais e criar mensagens atraentes,
                    personalizadas e direcionadas para aumentar o alcance e o impacto da sua estratégia de admissões.
                </p>

                <p class="box-item__title ht--s--22 c-font-color-text-darker">Retenção</p>
                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    Uma visão abrangente da experiência e do desempenho de cada aluno na sua instituição é fundamental
                    para sua estratégia de retenção.
                </p>
                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    O CampusNexus CRM integra dados de vários sistemas e departamentos, fornecendo uma ferramenta de
                    retenção avançada e sistema de aviso precoce para identificar e auxiliar alunos em risco. Além
                    disso, você pode fazer campanhas ativamente para alunos que estiverem se saindo bem e demonstrando
                    comportamentos positivos para reforçar, reconhecer e recompensá-los devidamente.
                </p>
                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    Em ambos os casos, a retenção é um componente-chave para fomentar o sucesso do aluno e atingir
                    resultados favoráveis.
                </p>

                <div class="c">
                    <a
                        class="pill-button box-item__link c"
                        href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus CRM"
                        target="_blank"
                        rel="noopener"
                    >Ficha de Produto
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                    Maximize a participação dos clientes
                </h2>

                <img
                    class="box-item__img c fr--sm"
                    src="/images/pages/pt-br/products/banner-crm-maximize.png"
                    alt="Maximize a Participação dos Alunos"
                />

                <h2 class="ht--p-400--16 c-font-color-text-darker    article__subtitle">
                    Obtenha mais visibilidade e melhore a comunicação entre departamentos e funções, desde a gestão
                    estratégica de matrículas e auxílio financeiro a serviços de administração de carreira e relações
                    com ex-alunos.
                </h2>
                <p class="ht--p--14-075 box-item__text">
                    O CampusNexus CRM permite a você motivar candidatos, alunos e ex-alunos com informações altamente
                    personalizadas nas mídias e dispositivos preferidos por eles.
                </p>
                <p class="ht--p--14-075 box-item__text">
                    Se você estiver planejando e executando estratégias de marketing e comunicação durante o ciclo de
                    recrutamento e admissões, matrícula ou pós-graduação, o CampusNexus CRM melhorará a participação,
                    pois reforçará suas mensagens e o posicionará para o sucesso hoje e no futuro.
                </p>
                <p class="ht--p--14-075 box-item__text">
                    O CampusNexus CRM permite uma visão abrangente dos clientes com base nos registros de comunicação e
                    informações de vários sistemas e departamentos.
                </p>
                <p class="ht--p--14-075 box-item__text">
                    A solução permite a você maximizar seu alcance e eficácia fornecendo uma ampla gama de canais para
                    comunicação e participação dos clientes.
                </p>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus CRM"
                        >
                            Ficha de Produto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                    Crie impressões duradouras e favoráveis
                </h2>

                <img
                    class="box-item__img c fr--sm"
                    src="/images/pages/pt-br/products/banner-crm-favoraveis.png"
                    alt="Aumente o Sucesso dos Alunos"
                />

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Para ser mais competitivo, você precisa de uma estratégia de participação de cliente em toda empresa
                    e um kit de ferramentas que transmita a mensagem certa para os clientes certos na hora certa pelo
                    meio correto.
                </h2>
                <p class="ht--p--14-075 box-item__text">
                    O CampusNexus CRM permite a você aproveitar os canais de comunicação modernos, uma plataforma de
                    serviços Web avançada e uma base de dados de conhecimento de todo o sistema durante o ciclo de vida
                    completo do aluno.
                </p>
                <p class="ht--p--14-075 box-item__text">
                    A solução faz parte do pacote de aplicativos CampusNexus, que também inclui o CampusNexus Student e
                    o CampusNexus Finance, HR &amp; Payroll. Ela também pode ser implantada para complementar seu
                    sistema SIS ou ERP existente para maximizar os investimentos atuais.
                </p>
                <p class="ht--p--14-075 box-item__text">
                    O CampusNexus CRM capacita e apoia todos os estágios do ciclo de vida do aluno, incluindo:
                </p>
                <ul class="ht--p--14-075 list--has-lead-in box-item__text list--normal">
                    <li>Recrutamento e admissões</li>
                    <li>Gestão de matrícula estratégica</li>
                    <li>Auxílio Financeiro</li>
                    <li>Serviços estudantis</li>
                    <li>Retenção e sucesso de alunos</li>
                    <li>Serviços de carreira</li>
                    <li>Ex-alunos e progresso</li>
                </ul>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus CRM"
                        >
                            Ficha de Produto
                        </a>
                        <a
                            class="pill-button cmc-article__link"
                            href="/solucoes/dl-case-study/582551d0f88f2157b6881200/Campus_Management_Infnet_Case_Study.pdf/"
                        >
                            Estudo de Caso
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc--xs--box-bg-grey">
        <div class="box-row">
            <div class="box-item box-item--empty box-item--narrow col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
                <h2 class=" c box-item__title ht--s--28 c-theme-primary-dark">
                    &nbsp;
                </h2>
                <!--
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/products/student-retention-software/"
                >&nbsp;
                </a>
                -->
            </div>

            <div class="box-item box-item--narrow col-xs-12 col-sm-4 col-sm-offset-4 bgc--xs--box-bg-alt">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    Detalhes do Produto
                </h2>
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM-Detalhes-do-Produto/"
                >Detalhes
                </a>
            </div>
            <div class="box-item box-item--empty box-item--narrow col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
                <h2 class=" c box-item__title ht--s--28 c-theme-primary-dark">
                    &nbsp;
                </h2>
                <!--
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/products/student-retention-software/"
                >&nbsp;
                </a>
                -->
            </div>
        </div>
    </div>

</article>

{{/content}}


{{#content "after-body"}}
{{/content}}

{{/extend}}
