---
# <!-- @formatter:off -->
title: CampusNexus Cloud
banner-image: /images/pages/services/CampusNet-Cloud/banner-cloud.png
alt--en: /services/CampusNexus-cloud/
alt--en-in: /en-in/services/CampusNexus-cloud/
page-bg-image: /images/pages/services/services-2-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <div class="cmc-article">
        <header class="c c-font-color-lightest">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/services/banner-cloud-circle.png"
                alt=""
                inline-img-dims
            />
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
            <p class="ht--p--16-22">
                Sua plataforma segura em nossos servidores
            </p>
        </header>
    </div>
    <div class="bgc--xs--lightest">
        <div class="box-row box-row--sm--reversed--centered-title">
            <div class="box-item box-item--no-min-height col-xs-12 pb0">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm pb1--sm">
                    Agora você pode acessar a todo CampusNexus a nuvem.
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-4 pt0 pb0--xs-only">
                <img
                    class="box-item__img c "
                    src="/images/pages/services/services-cloud-woman.jpg"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0">
                <p class="ht--p--16 c-font-color-text-dark box-item__text">
                    Com CampusNexus<sup>®</sup> Cloud, a Campus management hospeda e gerencia suas soluções de servidores de classe mundial,
                    garantindo disponibilidade máxima, segurança e escalabilidade.
                </p>
                <p class="ht--p--16 c-font-color-text-dark box-item__text">
                    O desenvolvimento contínuo de demandas tecnológicas na educação aumentam a complexidade das equipes de TI. As
                    instituições devem crescimento rápido e mudança enquanto reduzem a carga de trabalho e custos de gestão de
                    aplicações e infraestrutura. CampusNexus Cloud permite que sua instituição atinja esses objetivos.
                </p>
                <a
                    class="brightline-link ht--p--14-075"
                    href="/documents/Campus+Management+ISO27001_1766513-7.pdf"
                    target="_blank"
                    rel="noopener"
                >
                    <img
                        class=""
                        src="/images/pages/products/BrightlineLogo.png"
                        alt=""
                    >
                </a>


            </div>
        </div>
    </div>


    <div class="bgc--xs--nav-bg">
        <div class="box-row">

            <div class="box-item col-xs-12 col-sm-6 c-font-color-text-dark pt2-5--md pb2-5--md">
                <h2 class="ht--p--400 ht--p--16-1_125">CampusNexus Express Cloud</h2>
                <ul class="list--normal">
                    <li>Desenvolvido para implementação rápida dos sistemas da Campus management pela nuvem num modelo
                        Software-as-a-Service.
                    </li>
                    <li>Adequado a instituições que queiram utilizar as soluções padronizadas da Campus management.</li>
                    <li>O atalho entre configuração e acessibilidade.</li>
                </ul>

            </div>

            <div class="box-item col-xs-12 col-sm-6 c-font-color-text-dark  pt2-5--md pb2-5--md">
                <h2 class="ht--p--400 ht--p--16-1_125"> CampusNexus Enterprise Cloud</h2>
                <ul class="list--normal ">
                    <li>Baseado nos benefícios do CampusNexus Express Cloud e fornece mais espaço de servidores e operações,
                        também com Infrastructure-as-a-Service.
                    </li>
                    <li>Adequado para grandes instituições e implementações robustas que requerem integrações com outros
                        sistemas.
                    </li>
                    <li>Oferece acesso administrativo para seus sistemas na nuvem.</li>
                    <li>Fornece um ambiente de nuvem ágil para hospedar as aplicações CampusManagement e suas aplicações
                        favoritas, inclusive de terceiros.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>

{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
