---
# <!-- @formatter:off -->
title: CampusNexus Finance, HR & Payroll
banner-image: /images/pages/products/fhr-p/banner-today-tomorrow.png
in-nav--pt-br: false
menu-priority: 0.7
alt--en: /products/human-capital-management/
alt--en-in: /en-in/products/human-capital-management/
publish: draft
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img
        class="cmc-article__article-image"
        src="{{banner-image}}"
        alt=""
    />

    <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Projetado Para a Realidade Atual e Futura</p>

    <p class="ht--s--20 c-theme-tertiary article__intro">Uma solução elaborada especialmente para o ensino superior que
        aborda pressões geradas pela concorrência, entrega, financiamento e resultados.
    </p>

    <p>Você precisa de uma solução com a qual possa crescer junto e que transforme continuamente o modo como faz
        negócios. O CampusNexus Finance, HR &amp; Payroll é essa solução.
    </p>

    <p>Criado com base na plataforma Microsoft Dynamics AX, o CampusNexus Finance, HR
        &amp; Payroll integra-se com o CampusNexus Student, ou seu SIS atual, permitindo a você:
    </p>

    <ul class="list--normal list--has-lead-in">
        <li>Gerenciar contas de estudantes, folha de pagamento de estudo e trabalho federais, bolsas de estudo e
            subvenções, controle de posição e orçamento e detalhes de gestão do corpo docente
        </li>
        <li>Simplificar os processos interdepartamentais, perceber a economia de custos e melhorar radicalmente a
            eficiência operacional
        </li>
        <li>Acomodar várias moedas e gerenciar campi internacionais e controle de documentos de alunos</li>
    </ul>
    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a
                class="pill-button cmc-article__link"
                href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus Finance, HR & Payroll"
            >
                Folha do Produto
            </a>
        </li>
    </ul>
</div>
{{/content}}


{{#content "after-body"}}

<div class="bgc--xs--nav-bg">
    <div class="box-row">
        <div class="box-item box-item--not-flex col-xs-12">
            <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                Criado Com Base no Seu Núcleo Administrativo
            </h2>

            <img
                class="box-item__img c fr--sm"
                src="/images/pages/pt-br/products/banner-fhrp-admin.png"
                alt="Núcleo Administrativo"
            />

            <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                Transforme dados em informações utilizáveis para que os executivos e membros da equipe possam tomar
                decisões sobre responsabilidade fiscal que mantenham sua instituição nos trilhos com seu plano
                estratégico.
            </h2>

            <p class="ht--p--14-075 box-item__text">
                Quer a sua instituição tenha um campus ou 100, você precisa de uma funcionalidade rica com muitos
                recursos que o mantenha no controle dos processos essenciais para um gerenciamento fiscal seguro.
            </p>
            <p class="ht--p--14-075 box-item__text">
                Aproveitando a funcionalidade essencial de finanças e recursos humanos do Microsoft Dynamics® AX, os
                diretores comerciais e administradores de recursos humanos dispõem de ferramentas avançadas que não só
                atendem às necessidades atuais, como preparam sua instituição para o futuro.
            </p>
            <p class="ht--p--14-075 box-item__text">
                Os ativos mais valiosos da sua instituição são os professores, a equipe e os administradores que
                trabalham para orientar os estudantes em busca co sucesso. Você precisa de uma visão global das
                estruturas organizacionais, bem como da capacidade de fornecer autoatendimento individual.
            </p>
            <ul class="cmc-article__link-list cmc-article__link-list--centered">
                <li class="cmc-article__link-list-item">
                    <a
                        class="pill-button cmc-article__link"
                        href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus Finance, HR & Payroll"
                    >
                        Folha do Produto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="bgc--xs--lightest">
    <div class="box-row">
        <div class="box-item box-item--not-flex col-xs-12">
            <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                Criado Para o Negócio de Ensino Superior
            </h2>

            <img
                class="box-item__img c fr--sm"
                src="/images/pages/pt-br/products/banner-fhrp-superior.png"
                alt="Ensino Superior"
            />

            <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                O CampusNexus Finance, HR &amp;
                Payroll é compatível com recursos de toque e gestos para facilitar a navegação no aplicativo.
            </h2>

            <p class="ht--p--14-075 box-item__text">
                Com frequência, os administradores saem do escritório e passam de laptops para tablets e dispositivos
                ultramóveis no decorrer de um único dia.
            </p>

            <p class="ht--p--14-075 box-item__text">
                Fluxos de trabalho avançados permitem que você receba as informações de que precisa para gerar operações
                diárias e relatórios o ajudam a gerenciar o progresso das metas e os indicadores de desempenho.
            </p>

            <p class="ht--p--14-075 box-item__text">
                O CampusNexus Finance, HR &amp; Payroll gerencia:
            </p>
            <ul class="ht--p--14-075 box-item__text list--normal list--has-lead-in">
                <li>Recursos humanos – supervisione toda sua base de funcionários, cargos e alinhamento da força de
                    trabalho
                </li>
                <li>Gestão do corpo docente – gerencie informações, inclusive sobre tipo de cargos, status de exercício
                    do cargo, certificações e competências, carga horária dos professores, desempenho, associações
                    profissionais e criação de conhecimento
                </li>
                <li>Folha de pagamento – processe todos os aspectos da remuneração, pagamentos e retenções dos
                    funcionários
                </li>
                <li>Benefícios dos funcionários – administre vários níveis de benefícios com base na função, duração do
                    emprego, pacotes padrão e categorias eletivas
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgg-theme-primary--theme-primary c-font-color-lightest reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light">
            {{>[box-v3/campusnet-cloud-pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary">
            {{>[box-v3/cnx-fhp-features--pt-br]}}
        </div>
    </div>
</div>

{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}

{{/content}}

{{/extend}}
