---
# <!-- @formatter:off -->
title: CampusNexus Student do Produto
in-nav--pt-br: false
banner-image: /images/pages/products/sis/Banner_nexusStudent.png
alt--en: /products/CampusNexus-Student-features/
alt--en-in: /en-in/products/CampusNexus-Student-features/
publish: draft
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article class="cmc-article" id="software">
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />

    <h1 class="ht--p--14 c-font-color-text-darker">CampusNexus Student</h1>

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Detalhes do Produto</p>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle">Gestão de Matrícula Estratégica</h3>
    <ul class="list--normal">
        <li>Recrutamento – crie e execute estratégias-chave para direcionar as áreas de crescimento conforme definidas pelas
            metas da sua instituição.
        </li>
        <li>Admissões – colete informações essenciais, gerencie credenciais e documentos e avalie candidatos de modo
            oportuno.
        </li>
        <li>Auxílio financeiro – processe inscrições, verifique dados, determine a qualificação, o pacote e o prêmio,
            distribua fundos e faça ajustes por meio de processos automatizados avançados.
        </li>
        <li>Contabilidade do estudante – registre informações sobre estudantes, incluindo encargos, pagamentos, reembolsos e
            ajustes.
        </li>
    </ul>


    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gestão Acadêmica</h3>
    <ul class="list--normal">
        <li>Registros Acadêmicos
            <ul class="list--normal">
                <li>Ajude no processo de matrícula por meio do cronograma e registro oportunos de curso.</li>
                <li>Gerencie listas de espera, aplique automaticamente mensalidades e taxas, documente o histórico acadêmico
                    de cada aluno.
                </li>
                <li>Proteja padrões acadêmicos e o reconhecimento de marcas de programas.</li>
            </ul>
        </li>
        <li>Gerenciamento de Currículo
            <ul class="list--normal">
                <li>Planeje os currículos e identifique pré e co-requisitos, defina o esquema da grade, políticas de
                    aprovação/reprovação e repetição.
                </li>
                <li>Identifique os professores qualificados para ministrar os cursos, determine as necessidades da
                    instalação, equipamentos e requisitos de livros para cada curso e seção de aula.
                </li>
                <li>Ofereça o mesmo programa acadêmico em formatos padrão, não padrão e sem prazo, tudo em um único
                    ambiente.
                </li>
            </ul>
        </li>
        <li>Progresso Acadêmico do Aluno
            <ul class="list--normal">
                <li>Monitore o Progresso Acadêmico Satisfatório.</li>
                <li>Permita auditorias no progresso da graduação, incluindo cenários hipotéticos e ritmo do aluno em vários
                    tipos de programas.
                </li>
            </ul>
        </li>
        <li>Processamento de Graduação
            <ul class="list--normal">
                <li>Verifique os requisitos de conclusão do programa.</li>
                <li>Aplique regras de posicionamento financeiro.</li>
                <li>Confira credenciais de graduação e outorga para alunos qualificados.</li>
            </ul>
        </li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Participação e Resultados dos Alunos</h3>
    <ul class="list--normal">
        <li>Alertas precoces – utilize critérios dinâmicos e adaptáveis para identificar alunos em risco precocemente em
            suas carreiras acadêmicas.
        </li>
        <li>Retenção – conecte os alunos aos principais recursos por meio de fluxos de trabalho automatizados e monitore a
            eficácia das estratégias de intervenção por meio do progresso do aluno.
        </li>
        <li>Serviços estudantis – forneça planos de apoio individuais e serviços acadêmicos com base nas necessidades de
            cada aluno.
        </li>
        <li>Serviços de carreira – prepare os alunos para a excelência no campo que escolherem gerenciando oportunidades de
            estágio e emprego, ajudando-os na criação de habilidades de carreira e associando-os aos funcionário.
        </li>
        <li>Sistemas de Gestão de Aprendizado (LMS) – Integre seu LMS favorito para obter visibilidade em tempo real para o
            desempenho do aluno.
        </li>
        <li>Relatórios regulatórios e de conformidade – meça a relação custo-benefício de cada curso e programa e forneça às
            entidades credenciadas dados de efetividade institucional críticos e necessários.
        </li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Relatórios e Análises</h3>
    <ul class="list--normal">
        <li>Progresso Acadêmico Satisfatório e progressão do aluno</li>
        <li>Relatório de conformidade de Trabalho Remunerado</li>
        <li>Históricos personalizados</li>
        <li>Painéis executivo, gerencial e operacional</li>
    </ul>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a
                class="pill-button cmc-article__link"
                href="{{url-lang-prefix}}/solucoes/CampusNexus-Student/">
                Visão Geral do Produto
            </a>
        </li>
    </ul>
</article>
{{/content}}

{{#content "after-body"}}
<div class="bgg-theme-primary--theme-primary c-font-color-lightest reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light">
            {{>[box-v3/campusnet-cloud-pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary">
            {{>[box-v3/cnx-student-features--pt-br]}}
        </div>
    </div>
</div>

{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}

{{/content}}

{{/extend}}
