---
# <!-- @formatter:off -->
title: CampusNexus Finance, HR & Payroll Detalhes do Produto
in-nav--pt-br: false
banner-image: /images/pages/products/fhr-p/banner-nexusFHR-P.png
alt--en: /products/CampusNexus-Finance-HR-Payroll-features/
alt--en-in: /en-in/products/CampusNexus-Finance-HR-Payroll-features/
publish: draft
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article class="cmc-article" >
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />

    <h1 class="ht--p--14 c-font-color-text-darker">CampusNexus Finance, HR & Payroll</h1>

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Detalhes do Produto</p>

    <p class="ht--p-400--16 c-font-color-text-dark article__subtitle">Finanças, contabilidade e Reconhecimento de Receita</p>
    <ul class="list--normal">
        <li>Razão geral – gerencie o razão, o imposto de vendas, a moeda e os demonstrativos de fechamento de exercício e
            financeiro
        </li>
        <li>Gestão monetária e bancária – administre contas e conciliações bancárias</li>
        <li>Contas a receber – supervisione faturas de mensalidades e serviços e pagamentos a receber</li>
        <li>Contas a pagar – processe faturas de fornecedores e a saída de pagamentos</li>
        <li>Contabilidade do estudante – registre informações sobre estudantes, incluindo encargos, pagamentos, reembolsos e
            ajustes
        </li>
        <li>Gestão de estudo e trabalho federais – registre os valores de prêmios de FWS e compare com as informações da
            folha de pagamento para assegurar os fundos disponíveis
        </li>
        <li>Gestão de fontes de financiamento – crie e gerencie as fontes de financiamento disponíveis para os estudantes,
            de subvenções, empréstimos, a auxílio estadual, bolsas de estudo particulares e subvenções institucionais
        </li>
        <li>Ativos fixos – acompanhe e deprecie ativos como equipamentos, tecnologia, mobília, veículos e prédios</li>
        <li>Varejo e ponto de vendas – opere vendas de eventos especiais e com ingressos, livrarias e refeitórios e cafés
        </li>
    </ul>

    <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Planejamento e Previsão</p>
    <ul class="list--normal">
        <li>Orçamento – configure, inicie e veja orçamentos; restrinja, congele e aumente/diminua orçamentos com base nas
            necessidades em tempo real
        </li>
        <li>Orçamento e controle de cargos – projete as necessidades de contratação, aposentadorias antecipadas, custos
            associados e implemente alterações de tarifa de pagamento por volume por data efetiva
        </li>
        <li>Contabilidade do projeto – forneça supervisão financeira para projetos de melhoria de capital multianuais em
            toda a organização
        </li>
        <li>Aquisição e terceirização – gerencie o processo de compra de alimentos e serviços</li>
        <li>Viagens e despesas – defina as políticas de despesas e automatize o reembolso para viagens aprovadas</li>
    </ul>

    <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gestão de Recursos Humanos</p>
    <ul class="list--normal">
        <li>Recursos humanos – supervisione toda sua base de funcionários, cargos e alinhamento da força de trabalho</li>
        <li>Gestão do corpo docente – gerencie informações, inclusive sobre tipo de cargos, status de exercício do cargo,
            certificações e competências, carga horária dos professores, desempenho, associações profissionais e criação de
            conhecimento
        </li>
        <li>Folha de pagamento – processe todos os aspectos da remuneração, pagamentos e retenções dos funcionários</li>
        <li>Benefícios dos funcionários – administre vários níveis de benefícios com base na função, duração do emprego,
            pacotes padrão e categorias eletivas
        </li>
    </ul>

    <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Relatórios e Análises</p>
    <ul class="list--normal">
        <li>Preparação de auditoria para relatório de conformidade</li>
        <li>Fechamentos fiscais mensais, trimestrais e anuais</li>
        <li>Resultados de IPEDS</li>
        <li>Padrões de FASB e GASB</li>
        <li>Resumos longitudinais e detalhes da contabilidade dos projetos</li>
        <li>Painéis executivo, gerencial e operacional</li>
    </ul>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a class="pill-button cmc-article__link"
                href="{{url-lang-prefix}}/solucoes/CampusNexus-Finance-HR-Payroll/">
                Visão Geral do Produto
            </a>
        </li>
    </ul>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
