---
# <!-- @formatter:off -->
title: CampusNexus CRM Detalhes do Produto
banner-image: /images/pages/products/crm/Banner_nexusCRM.png
in-nav--pt-br: false
alt--en: /products/CampusNexus-CRM-features/
alt--en-in: /en-in/products/CampusNexus-CRM-features/
page-bg-image: /images/pages/products/crm/crm-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}

<article>
    <div class="cmc-article">
        <header class="c c-font-color-lightest">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/products/crm/banner-crm-circle.png"
                alt="CampusNexus CRM"
            />
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
        </header>
    </div>

    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--info-box-v2 box-item--not-flex col-xs-12">

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle">Móvel</p>
                <ul class="list--normal">
                    <li>Maximize a eficiência da equipe, a produtividade e a qualidade com a tecnologia móvel</li>
                    <li>Estenda para todos os dispositivos por meio de um cliente thin que se adapta aos dispositivos e
                        padrões de uso
                    </li>
                    <li>Crie layouts de tela específicos para suas equipes com base em suas funções, responsabilidades e
                        privilégios
                    </li>
                    <li>Permita que as equipes se concentrem nos processos e nos dados certos</li>

                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Mecanismo de
                    Fluxo de Trabalho de Campanha
                </p>
                <ul class="list--normal">
                    <li>Crie e forneça comunicações significativas, personalizadas e relevantes para segmentos
                        direcionados específicos da sua população em vários canais
                    </li>
                    <li>Aproveite o designer de fluxo de trabalho visual do mecanismo de campanha, que é compatível com
                        filtragem complexa, lógica condicional e personalização rica
                    </li>
                    <li>Inicie campanhas de dentro do CampusNexus CRM ou acione-as por atividades em outros sistemas
                    </li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Mecanismo de
                    Regras
                </p>
                <ul class="list--normal">
                    <li>Aproveite uma estrutura abrangente para a definição de metas de ações e atividades que são
                        realizadas quando um ou mais conjunto de critérios é atendido
                    </li>
                    <li>Atribua critérios e ações a praticamente qualquer objeto de dados no CampusNexus CRM para apoiar
                        suas necessidades operacionais e empresariais
                    </li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Eventos, fluxos
                    de trabalho, APIs
                </p>
                <ul class="list--normal">
                    <li>Mantenha-se ágil na resposta às mudanças no ensino superior</li>
                    <li>Amplie os processos de negócios</li>
                    <li>Estenda fluxos de trabalho, relatórios e análises por meio de uma ampla gama de APIs</li>
                    <li>Interaja com os clientes em sistemas essenciais</li>
                    <li>Centralize todos os registros de comunicações em um único local</li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Knowledgebase
                </p>
                <ul class="list--normal">
                    <li>Expanda a capacidade do CampusNexus CRM com uma base de dados de conhecimento de informações
                    </li>
                    <li>Forneça um recurso valioso de autoatendimento aos clientes</li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Portal</p>
                <ul class="list--normal">
                    <li>Estende os recursos de autoatendimento do CampusNexus CRM a candidatos, estudantes e ex-alunos
                    </li>
                    <li>Use o portal para comunicações, registros de eventos e serviços de apoio ao aluno</li>
                    <li>Colete e atualize informações dos clientes</li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gerenciamento
                    de Inscrição
                </p>
                <ul class="list--normal">
                    <li>Simplifique o processo de inscrição</li>
                    <li>Permita que os alunos interessados enviem online todos os documentos de inscrição e materiais
                    </li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gerenciamento
                    de Eventos
                </p>
                <ul class="list--normal">
                    <li>Gerencie e configure eventos como feiras de recrutamento, visitas ao campus e workshops de
                        posicionamento de carreira
                    </li>
                    <li>Promova eventos aproveitando o mecanismo de campanha avançado</li>
                    <li>Utilize um calendário de eventos intuitivo</li>
                    <li>Suporte para o registro de participantes e convidados para eventos grátis ou pagos</li>
                    <li>Crie páginas de registro de eventos personalizadas usando o Construtor de Formulários do
                        CampusNexus
                    </li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">CTI</p>
                <ul class="list--normal">
                    <li>Integre com seu sistema telefônico residencial</li>
                    <li>Ofereça suporte a operações de call center</li>
                    <li>Forneça scripts de chamadas dinâmicos</li>
                    <li>Atualize dados dos clientes com observações e resultados das atividades de chamada</li>
                    <li>Gerencie o histórico de comunicações com o cliente</li>
                </ul>

                <p class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gateway de
                    Pagamento
                </p>
                <ul class="list--normal">
                    <li>Integre com provedores de pagamentos</li>
                    <li>Ofereça suporte a transações financeiras para inscrições, gerenciamento de eventos e outras
                        funções
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="bgc--xs--box-bg-grey">
        <div class="box-row">
            <div class="box-item box-item--empty box-item--narrow col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
                <h2 class=" c box-item__title ht--s--28 c-theme-primary-dark">
                    &nbsp;
                </h2>
                <!--
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/products/student-retention-software/"
                >&nbsp;
                </a>
                -->
            </div>

            <div class="box-item box-item--narrow col-xs-12 col-sm-4 col-sm-offset-4 bgc--xs--box-bg-alt">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    CampusNexus CRM
                </h2>
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM/"
                >Visão Geral do Produto
                </a>
            </div>
            <div class="box-item box-item--empty box-item--narrow col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
                <h2 class=" c box-item__title ht--s--28 c-theme-primary-dark">
                    &nbsp;
                </h2>
                <!--
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/products/student-retention-software/"
                >&nbsp;
                </a>
                -->
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
