---
# <!-- @formatter:off -->
title: CampusNexus Student
banner-image: /images/pages/products/sis/banner-on-demand.png
in-nav--pt-br: false
menu-priority: 0.9
alt--en: /products/student-information-system/
alt--en-in: /en-in/products/student-information-system/
publish: draft
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img
        class="cmc-article__article-image"
        src="{{banner-image}}"
        alt=""
    />
    <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Projetado para a geração sob demanda</p>

    <p class="ht--s--20 c-theme-tertiary article__intro">Há uma supertempestade se formando no horizonte do ensino
        superior. Mais instituições estão competindo por menos alunos. Os orçamentos estão encolhendo. A qualificação
        para auxílio financeiro é cada vez mais associada aos resultados dos alunos.
    </p>

    <p>E esses alunos? Eles são &quot;nativos digitais&quot;, alunos tradicionais e não tradicionais em busca de mais
        flexibilidade na realização de suas metas.
    </p>

    <p>Essa geração &quot;sob demanda&quot; espera que as instituições forneçam o ensino como um serviço. Eles precisam
        de programas e modelos que se ajustem às suas vidas atribuladas, em vez de modelos presos ao calendário
        acadêmico tradicional.
    </p>

    <p>Para atender a essa nova clientela e sobreviver à tempestade, você precisa de um sistema de informação de
        estudante de última geração desenvolvido para a realidade atual e futura.
    </p>

    <p>Você precisa do CampusNexus™ Student.</p>
    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a
                class="pill-button cmc-article__link"
                href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus Student"
            >
                Folha do Produto
            </a>
        </li>
    </ul>
</div>
{{/content}}


{{#content "after-body"}}

<div class="bgc--xs--nav-bg">
    <div class="box-row">
        <div class="box-item box-item--not-flex col-xs-12">
            <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                Maximize a Participação dos Alunos
            </h2>

            <img
                class="box-item__img c fr--sm"
                src="/images/pages/pt-br/products/banner-student-maximize.png"
                alt="Maximize a Participação dos Alunos"
            />

            <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                Com o CampusNexus Student da Campus Management, você incentiva os clientes potenciais e os alunos atuais
                com um sistema elaborado para o sucesso deles e o seu.
            </h2>

            <p class="ht--p--14-075 box-item__text">
                A solução não só unifica departamentos, campi e fluxos de trabalho e permite condições flexíveis e
                opções de auxílio financeiro, como também inclui uma solução de CRM totalmente integrada.
            </p>
            <p class="ht--p--14-075 box-item__text">
                Com o CRM incorporado no sistema, você obtém uma visão abrangente das interações de cada departamento
                com cada aluno, o que o ajuda a melhorar os resultados de matrícula, retenção e posicionamento.
            </p>
            <p class="ht--p--14-075 box-item__text">
                O CampusNexus Student é uma solução dinâmica que cresce e se transforma junto com sua instituição,
                permitindo a você criar novas estratégias e modelos conforme as necessidades do aluno evoluem e
                manter-se competitiva e receptiva em qualquer mercado.
            </p>

            <ul class="cmc-article__link-list cmc-article__link-list--centered">
                <li class="cmc-article__link-list-item">
                    <a
                        class="pill-button cmc-article__link"
                        href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus Student"
                    >
                        Folha do Produto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc--xs--lightest">
    <div class="box-row">
        <div class="box-item box-item--not-flex col-xs-12">
            <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                Aumente o Sucesso dos Alunos
            </h2>

            <img
                class="box-item__img c fr--sm"
                src="/images/pages/pt-br/products/banner-student-success.png"
                alt="Aumente o Sucesso dos Alunos"
            />

            <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                Com o CampusNexus Student, você pode identificar os alunos que se adaptam melhor à sua instituição,
                acompanhar documentos para todos os tipos de processos de matrículas e identificar automaticamente o
                auxílio financeiro qualificado.
            </h2>

            <p class="ht--p--14-075 box-item__text">
                Você pode monitorar a orientação do aluno em relação a marcos de persistência, oferecer planos
                convenientes de pagamento de mensalidades e associar os alunos a estágios e colocá-los em empregos.
            </p>

            <p class="ht--p--14-075 box-item__text">
                O CampusNexus Student o ajuda a ajudar os alunos em uma era em que a responsabilidade de resultados é a
                mais alta de todos os tempos.
            </p>

            <ul class="cmc-article__link-list cmc-article__link-list--centered">
                <li class="cmc-article__link-list-item">
                    <a
                        class="pill-button cmc-article__link"
                        href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/CampusNexus Student"
                    >
                        Folha do Produto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgg-theme-primary--theme-primary c-font-color-lightest reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light">
            {{>[box-v3/campusnet-cloud-pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary">
            {{>[box-v3/cnx-student-features--pt-br]}}
        </div>
    </div>
</div>
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
