---
# <!-- @formatter:off -->
title: Download Case Study
in-nav--pt-br: false
private: true
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--dl-case-study-form.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
hsFormId: 23a44931-26d6-4db7-8494-0990732e22f9
pageCssClass: hide-products-and-solutions
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article app">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">{{title}}<span class="doc-title"></span></h1>

        <p class="ht--p--14-075 header__subtitle">
            Please complete the form below to download the case study.
        </p>

        <div class="loading--placeholder">Loading...</div>
        <p class="error"></p>
    </div>

    <form
        id="CaseStudyFormWallForm"
        class="cmc-form cmc-form--centered dl-case-study-form"
        action="dl-case-study-form/?site=cmc&group={{language}}"
        data-s3bucketprefix="{{@root.config.s3BucketPrefix}}"
        data-doctype="case-studies"
        data-base="/{{path}}"
    >
        <fieldset>
            <ul>
                <li>
                    <label
                        class="required"
                        for="firstName"
                    >First Name</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="firstName"
                            id="firstName"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="lastName"
                    >Last Name</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="lastName"
                            id="lastName"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="email"
                    >Email</label>
                    <div class="input-wrapper">
                        <input
                            type="email"
                            name="email"
                            id="email"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="title"
                    >Title</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="title"
                            id="title"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class="required"
                        for="institution"
                    >Institution</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="institution"
                            id="institution"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label
                        class=""
                        for="phone"
                    >Phone</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="phone"
                            id="phone"
                        />
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button
                        type="submit"
                        class="pill-button cmc-form__submit-button"
                        name="btnSave"
                    >Download
                    </button>
                    <input
                        type="hidden"
                        name="caseStudy"
                    /> {{#if hsFormId}} <input
                    type="hidden"
                    name="hsFormId"
                    value="{{hsFormId}}"
                /> <input
                    type="hidden"
                    name="hsPortalId"
                    value="{{@root.config.hubspot.id}}"
                /> <input
                    type="hidden"
                    name="pageUrl"
                    value=""
                /> <input
                    type="hidden"
                    name="pageTitle"
                    value=""
                /> <input
                    type="hidden"
                    name="hutk"
                    value=""
                /> {{/if}}
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{/extend}}
