---
# <!-- @formatter:off -->
title: Folha do Produto
menu-priority: 0.1
alt--en: /higher-education-resources/product-sheets/
alt--en-in: /en-in/higher-education-resources/product-sheets/
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--s3-doc-list.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/has-document-links-list.css
    inline: true
page-bg-image: /images/pages/higher-education-resources/product-sheets-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<script>
    var s3DocListPreloadData = [];
</script>

<section>
    <div class="cmc-article">
        <header class="c c-font-color-lightest">
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
            <p class="ht--p--16-22">

            </p>
        </header>
    </div>
    <div
        id="s3docListApp"
        class="app s3-doc-list-app--v2"
        data-doctype="product-sheets"
        data-site="cmc"
        data-items-per-page="6"
        data-group="pt-br"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>

{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
