---
# <!-- @formatter:off -->
title: Soluções
banner-image: /images/pages/products/banner-nexus-logo.png
menu-priority: 1
alt--en: /products/
alt--en-in: /en-in/products/
page-bg-image: /images/pages/products/crm/crm-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <div class="cmc-article">
        <header class="c c-font-color-lightest">
            <h1 class="ht--s--38-45 article__title">Produtos</h1>
            <p class="ht--p--16-22">
                Atinja Metas Com Uma Tecnologia Inovadora
            </p>
        </header>
    </div>
    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--info-box-v2 box-item--not-flex col-xs-12 pt2-5--sm pb2-5--sm">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    Cada produto CampusNexus faz parte de uma solução maior, fornecendo módulos integrados com fluxos de
                    trabalho internos, relatórios e muito mais.
                </h2>

                <p class="ht--p--16 box-item__text c-font-color-text-dark">
                    Faculdades e universidades de todos os tamanhos e missões estão unindo departamentos e
                    campi,atingindo metas de recrutamento e retenção, centralizando e automatizando o auxílio financeiro
                    e outros processos administrativos e melhorando os serviços estudantis.
                </p>

                <h2 class="ht--p-400--16 c-font-color-text-dark box-item__text">Produtos CampusNexus:</h2>

                <ul class="list--normal c-font-color-text-dark">
                    <li><a href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM/">CampusNexus CRM</a>
                        Engaja os clientes em toda a empresa com comunicações altamente personalizadas
                    </li>
                </ul>

            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
