---
# <!-- @formatter:off -->
title: Talisma Fundraising Detalhes do Produto
banner-image: /images/pages/products/tfr/banner-tfr-features.gif
in-nav--pt-br: false
alt--en: /products/Talisma-Fundraising-features/
alt--en-in: /en-in/products/Talisma-Fundraising-features/
publish: draft
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article class="cmc-article" id="software">
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />

    <h1 class="ht--p--14 c-font-color-text-darker">Talisma Fundraising</h1>

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Detalhes do Produto</p>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle">Ex-alunos e Progresso</h3>
    <ul class="list--normal">
        <li>Acompanhe e cultive relacionamentos com ex-alunos, pais, patrocinadores corporativos e doadores</li>
        <li>Ajude na preparação na Pesquisa de VSE (Apoio Voluntário da Educação)</li>
        <li>Mantenha uma única visão de todas as interações com doadores e clientes potenciais</li>
        <li>Gere relatórios e análises por anos de aula</li>
    </ul>


    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gerenciamento de Eventos</h3>
    <ul class="list--normal">
        <li>Fomente a participação e o apoio para os seus eventos, de refeições a torneios de golfe</li>
        <li>Crie páginas dedicadas da Web para eventos e permita o registro e pagamentos online</li>
        <li>Controle despesas e gerencie patrocinadores e fornecedores de modo fácil e eficiente</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle  header--has-top-border">Homenagens e Memoriais</h3>
    <ul class="list--normal">
        <li>Gerencie reconhecimentos a doadores e familiares</li>
        <li>Obtenha ferramentas de relatório abrangentes para listas de jornais e análises</li>
        <li>Aproveite uma abordagem simples de lançamento de doações para várias homenagens sem dividir as doações</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Associação</h3>
    <ul class="list--normal">
        <li>Armazene informações profundas e relevantes sobre cada associação</li>
        <li>Veja rapidamente as histórias de associações</li>
        <li>Acompanhe a retenção, atritos, novas fontes de membros</li>
        <li>Imprima cartões de associação para montagem fácil de pacotes de associação</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle  header--has-top-border">Gerenciamento de Movimentos</h3>
    <ul class="list--normal">
        <li>Criação de perfis de clientes potencial</li>
        <li>Coleta de pesquisa</li>
        <li>Gerenciamento de propostas</li>
        <li>Acompanhamento de cultivo</li>
        <li>Solicitação de grandes doações</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Financiamento Online</h3>
    <ul class="list--normal">
        <li>Permita que os patrocinadores façam doações e ofertas de modo rápido e fácil</li>
        <li>Expanda a conscientização e os esforços de alcance mundial</li>
        <li>Reduza radicalmente os processos manuais e que consomem muito papel</li>
        <li>Crie automaticamente lotes de doações com base nas informações inseridas por doadores online</li>
        <li>Permita que os membros e doadores atualizem informações de conta e endereço</li>
        <li>Personalize sua página de doações online com sua marca</li>
        <li>Forneça aos doadores frequentes acesso ao histórico de doações online e às informações de conta</li>
        <li>Permita que os doadores ofereçam doações de homenagens/memoriais ou associando e repetindo pagamentos de
            ofertas
        </li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Doações Planejadas</h3>
    <ul class="list--normal">
        <li>Acompanhe intenções como legados, apólices de seguro, fundos e anuidades</li>
        <li>Acompanhe esforços de ofertas de doadores para doações planejadas separadamente de outros esforços de ofertas
        </li>
        <li>Use um sistema de agenda que possa lembrar você sobre os próximos movimentos ou ações a executar</li>
        <li>Relate o valor de uma doação planejada separadamente para campanhas anuais e de capital para seguir os padrões
            do setor, como CASE ou AHP
        </li>
        <li>Gere relatórios relevantes e importantes, inclusive aqueles com expectativas, atualizações mensais, detalhes da
            doação e processo de cultivo
        </li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle  header--has-top-border">Bolsas de Estudo</h3>
    <ul class="list--normal">
        <li>Acompanhe os recebedores anteriores e atuais de bolsas de estudo</li>
        <li>Associe os recebedores de bolsas de estudo aos doadores e patrocinadores dessas bolsas</li>
        <li>Associe aos recebedores, orientadores, mídia e patrocinadores</li>
        <li>Gerencie ofertas e doações adiadas e correspondentes</li>
        <li>Escolha em um conjunto abrangente de relatórios</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle header--has-top-border">Gerenciamento de Voluntários</h3>
    <ul class="list--normal">
        <li>Acompanhe as qualificações, as certificações, os prêmios e as preferências de voluntários</li>
        <li>Aproveite o agendador avançado para atender às necessidades de vários departamentos</li>
        <li>Filtre com base nos recursos voluntários mais qualificados e interessados</li>
        <li>Atribua tarefas aos voluntários com a facilidade de apontar e clicar</li>
        <li>Gere lembretes e avisos de agradecimento automaticamente</li>
    </ul>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle  header--has-top-border">Processamento de Cartões de Crédito (EFT)</h3>
    <ul class="list--normal">
        <li>Forneça aprovação e autorização instantâneas para cartões de crédito</li>
        <li>Permita saques diretos de contas corrente ou poupança</li>
        <li>Forneça uma interface simples para criar arquivos de transações de crédito e débito
            na sua instituição financeira por mês
        </li>
    </ul>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a
                class="pill-button cmc-article__link"
                href="{{url-lang-prefix}}/solucoes/Talisma-Fundraising/">
                Visão Geral do Produto
            </a>
        </li>
    </ul>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
