---
# <!-- @formatter:off -->
title: Talisma Fundraising
banner-image: /images/pages/products/tfr/banner-moves-mgmt.png
in-nav--pt-br: false
menu-priority: 0.6
alt--en: /products/donor-management-software/
alt--en-in: /en-in/products/donor-management-software/
publish: draft
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article>
    <div
        class="cmc-article"
    >
        <img
            class="cmc-article__article-image"
            src="{{banner-image}}"
            alt=""
        />

        <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>

        <h2 class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Conquiste Maior Sucesso no Progresso</h2>
        <p class="ht--s--20 c-theme-tertiary article__intro">Gerencie e otimize seus esforços de progresso com o Talisma
            Fundraising para Ensino Superior.
        </p>

        <p>Um sistema de gerenciamento de doadores com um único banco de dados que permite a você criar relacionamentos
            duradouros com ex-alunos, doadores e patrocinadores corporativos.
        </p>

        <p>Por trás do Talisma Fundraising estão duas décadas de serviços para o ensino superior e o entendimento
            arraigado do panorama, das melhores práticas e demandas nos escritórios do presidente, da fundação e da
            associação de ex-alunos.
        </p>

        <p>E para sistemas grandes em que vários campi cooperam e atravessam os domínios do financiamento, nenhuma outra
            solução pode fornecer tanta flexibilidade, escala e valor de longo prazo.<br />

        <ul class="cmc-article__link-list cmc-article__link-list--centered">
            <li class="cmc-article__link-list-item">
                <a
                    class="pill-button cmc-article__link"
                    href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/Talisma Fundraising"
                >
                    Folha do Produto
                </a>
                <a
                    class="pill-button cmc-article__link"
                    href="{{url-lang-prefix}}/solucoes/Estudos-de-Caso/#filter/Product/Talisma Fundraising"
                >
                    Estudos de Caso
                </a>
            </li>
        </ul>
    </div>

    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                    Adicione Software de CRM
                </h2>

                <img
                    class="box-item__img c fr--sm"
                    src="/images/pages/pt-br/products/banner-crm-maximize.png"
                    alt="Maximize a Participação dos Alunos"
                />

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Obtenha uma visão corporativa das interações do aluno, desde o recrutamento às relações com
                    ex-alunos e progresso.
                </h2>

                <p class="ht--p--14-075 box-item__text">
                    E-mail. Bate-papo. SMS. Web. Telefone.Correspondência. Ao adicionar o Talisma CRM aos seus esforços
                    de progresso, você pode atrair e manter patrocinadores por meio do canal de comunicações
                    preferencial deles e conquistar um panorama completo do seu relacionamento com a fundação e a
                    instituição.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    De campanhas de recrutamento personalizadas ao cultivo de relacionamentos com doadores a longo
                    prazo, os produtos Talisma melhoram sua capacidade de motivar os alunos, ex-alunos e benfeitores,
                    fornecer aos clientes informações e serviços melhores e buscar estratégias avançadas de
                    financiamento.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Ao integrar o Talisma CRM com o Talisma Fundraising, você pode:
                </p>

                <ul class="ht--p--14-075 box-item__text list--normal list--has-lead-in">
                    <li>Criar campanhas altamente direcionadas e ajustá-las em tempo real com base na análise avançada
                    </li>
                    <li>Fornecer serviços sob demanda e comunicações nos canais de comunicação preferenciais dos
                        clientes, incluindo telefone, e-mail, bate-papo, texto e portais da Web
                    </li>
                </ul>

                <p class="ht--p--14-075 box-item__text">
                    Obter melhor coordenação e sinergia entre departamentos, campanhas e esforços de solicitação
                </p>

                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/Talisma Fundraising"
                        >
                            Folha do Produto
                        </a>
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Estudos-de-Caso/#filter/Product/Talisma Fundraising"
                        >
                            Estudos de Caso
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc--xs--lightest">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <h2 class="box-item__title ht--s--22 c c-font-color-text-darker">
                    Integre o Microsoft Dynamics GP
                </h2>

                <img
                    class="box-item__img c fr--sm"
                    src="/images/pages/pt-br/products/banner-tfr-logo.png"
                    alt="Aumente o Sucesso dos Alunos"
                />

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    O módulo de gerenciamento de financiamento do Talisma Fundraising melhora a integração entre o
                    Talisma Fundraising e os pacotes de software de contabilidade do Microsoft Dynamics GP.
                </h2>

                <p class="ht--p--14-075 box-item__text">
                    Além disso, o módulo inclui ferramentas de valor agregado para contabilidade analítica, relatório e
                    um portal da Web para acesso em qualquer lugar, a qualquer momento. Esse módulo é especialmente
                    valioso para organizações que precisam controlar fundos em centenas ou milhares de financiamentos,
                    projetos ou categorias designados.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Agora você pode:
                </p>

                <ul class="ht--p--14-075 box-item__text list--normal list--has-lead-in">
                    <li>Reduzir radicalmente seu gráfico de contas</li>
                    <li>Diminuir milhares de contas do razão geral a uma lista mestra com menos de vinte</li>
                    <li>Aproveitar códigos de dimensão para granularidade além da classificação principal dos tipos de
                        conta do GL
                    </li>
                </ul>
                <ul class="cmc-article__link-list cmc-article__link-list--centered">
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Folha-do-Produto/#filter/Product/Talisma Fundraising"
                        >
                            Folha do Produto
                        </a>
                        <a
                            class="pill-button cmc-article__link"
                            href="{{url-lang-prefix}}/solucoes/Estudos-de-Caso/#filter/Product/Talisma Fundraising"
                        >
                            Estudos de Caso
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgg-theme-primary--theme-primary c-font-color-lightest reverse">
        <div class="box-row">
            <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light">
                <div class="ht--s--22 box-item__title c">
                    Ative o Acesso ao Portal
                </div>
                <p class="ht--p--14-075 box-item__p--info-box">
                    Com o módulo de gerenciamento de financiamentos, você pode atribuir vários gerentes de conta a todos
                    os seus fundos. Também é possível fornecer a esses gerentes um portal interno ou externo para
                    acessar relatórios associados aos fundos que eles gerenciam.
                </p>
                <p class="ht--p--14-075 box-item__p--info-box">
                    Esses relatórios incluem os saldos do fundo e os demonstrativos de transferências.
                </p>
            </div>
            <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary">
                <div class="ht--s--22 box-item__title c">
                    Configure Regras Comerciais
                </div>
                <p class="ht--p--14-075 box-item__p--info-box">
                    O módulo de gerenciamento de financiamento permite a você configurar regras comerciais e critérios
                    específicos para a distribuição de receitas e despesas em doações ou outros fundos. O software
                    Talisma Fundraising fará os lançamentos contábeis apropriados no Microsoft Dynamics GP.
                </p>
                <p class="ht--p--14-075 box-item__p--info-box">
                    Além disso, esse recurso permite a você especificar tipos de ativos que não devem ser incluídos para
                    consideração na distribuição da alocação.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-theme-primary--theme-primary c-font-color-lightest">
        <div class="box-row">
            <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary-light bgc--sm--theme-primary">
                <div class="ht--s--22 box-item__title c">
                    Relatório de Programação de Mudanças
                </div>
                <p class="ht--p--14-075 box-item__p--info-box">
                    O módulo de gerenciamento de fundos também permite a você produzir um relatório de programação de
                    mudanças baseado nos dados do Talisma Fundraising diretamente relacionados aos códigos de dimensão
                    no Great Plains.
                </p>
                <p class="ht--p--14-075 box-item__p--info-box">
                    Esse relatório tem uma coleção abrangente de métricas, incluindo receitas, juros, dividendos,
                    ganhos/perdas não realizados, outras receitas, entrada de transferências, saída de transferências,
                    despesas e saldo inicial e final de cada fundo.
                </p>
            </div>
            <div class="box-item col-xs-12 col-sm-6 bgc--xs--theme-primary bgc--sm--theme-primary-light">
                <div class="ht--s--22 box-item__title c">
                    Talisma Fundraising Detalhes do Produto
                </div>
                <img
                    src="/images/pages/products/crm/box-checkbox.png"
                    class="box-item__img c"
                    alt=""
                />
                <p class="ht--p--14-075 box-item__p--info-box">
                    Select to review a detailed listing of all the features of Talisma Fundraising.
                </p>
                <a
                    class="pill-button box-item__link"
                    href="{{url-lang-prefix}}/solucoes/Talisma-Fundraising-Detalhes-do-Produto/"
                >Detalhes
                </a>

            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
