<div class="ht--s--22 box-item__title c">
    CampusNexus Cloud - Serviços na Nuvem
</div>
<img
    src="/images/pages/services/box-cloud.png"
    class="box-item__img c"
    alt=""
/>
<p class="ht--p--14-075 box-item__p--info-box">
    Agora você pode acessar seu CampusNexus® CRM na nuvem. A Campus management hospeda e gerencia as soluções
    CampusNet Cloud em seus servidores de classe mundial, garantindo máximas segurança, disponibilidade e
    escalabilidade.
</p>
<a
    class="pill-button box-item__link"
    href="{{url-lang-prefix}}/solucoes/CampusNexus-cloud/"
>Detalhes
</a>
