<h2 class="ht--s--20 c-theme-primary-dark box-item__title c">Estudos de Caso</h2>
<div class="box-item__img c vc sprite-img sprite-img--link-box-case-studies"></div>
<a
    class="pill-button box-item__link"
    href="{{safeValue href '{{url-lang-prefix}}/solucoes/Estudos-de-Caso/' }}"
>Review
</a>
