<div class="ht--s--22 box-item__title c">
    CampusNexus Finance, HR & Payroll Detalhes do Produto
</div>
<img
    src="/images/pages/products/crm/box-checkbox.png"
    class="box-item__img c"
    alt=""
/>
<p class="ht--p--14-075 box-item__p--info-box">
    Select to review a detailed listing of all the features of CampusNexus Finance, HR &amp; Payroll.
</p>
<a
    class="pill-button box-item__link"
    href="{{url-lang-prefix}}/solucoes/CampusNexus-Finance-HR-Payroll-Detalhes-do-Produto/"
>Detalhes
</a>
