<div class="ht--s--22 box-item__title c">
    CampusNexus Student Detalhes do Produto
</div>
<img
    src="/images/pages/products/crm/box-checkbox.png"
    class="box-item__img c"
    alt=""
/>
<p class="ht--p--14-075 box-item__p--info-box">
    Veja uma lista detalhada de todos os recursos do CampusNexus CRM.
</p>
<a
    class="pill-button box-item__link"
    href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM-Detalhes-do-Produto/"
>Detalhes
</a>
