<div class="bgg-box-bg-grey--box-bg-alt reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-grey bgc--md--box-bg-alt">
            <div class="box-item--us c">
                <h2 class="ht--s--20 c-theme-primary-dark box-item__title">Corporate</h2>
                <p>
                    5201 Congress Ave.
                    <br />
                    Boca Raton FL 33487
                    <br />
                    <br />
                    Phone: 561.923.2500
                    <br />
                    Fax: 561.999.0096
                    <br />
                    Sales: 866.397.2537
                    <br />
                    Support: 800.483.9106
                </p>
                <a
                    class="pill-button box-item__link"
                    href="https://www.campusmanagement.com/"
                >
                    Website
                </a>
            </div>

        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-alt bgc--md--box-bg-grey">
            <div class="box-item--brazil c">
                <h2 class="ht--s--20 c-theme-primary-dark box-item__title">Brazil</h2>
                <p>
                    Campus Management Brasil
                    <br />
                    Av. Brig. Faria Lima, 1485, sala 202
                    <br />
                    Jardim Paulistano
                    <br />
                    São Paulo – SP, CEP: 01452-002
                    <br />
                    <br />
                    +55 (11) 3797-6747
                </p>
            </div>

        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-grey bgc--sm--box-bg-alt">
            <div class="box-item--india c">
                <h2 class="ht--s--20 c-theme-primary-dark box-item__title">India</h2>
                <p>
                    3rd Floor, Olympia/Building-01
                    <br />
                    Bagmane Tech Park, CV Raman Nagar,
                    <br />
                    Byrasandra, Bangalore-560 093, India
                    <br />
                    <br />
                    +91 80 40394400
                </p>
                <a
                    class="pill-button box-item__link "
                    href="https://www.campusmanagement.com/en-in/"
                >
                    Website
                </a>
            </div>

        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-alt bgc--sm--box-bg-grey">
            <div class="box-item--uk c">
                <h2 class="ht--s--20 c-theme-primary-dark box-item__title">United Kingdom</h2>
                <p>
                    38 Rosebery Ave. 1st Floor
                    <br />
                    London EC1R4RN
                    <br />
                    <br />
                    +44 7824 623019
                    <br />
                    +44 208 037 0537
                </p>
            </div>

        </div>
    </div>
</div>
