<section class="bgc--xs--theme-primary-light">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-4 bgc--xs--theme-primary-light">
            <div class="ht--s--22 box-item__title c c-font-color-lightest">
                Lancaster Bibble College
            </div>
            <div
                class="testimonial app"
            >
                <p class="testimonial__quote">
                    Temos a confiança de que CampusNexus vai permitir a Lancaster Bibble College a continuar crescendo
                    e servindo aos estudantes com um modelo sustentável.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Vince Johnson</div>
                    <div class="testimonial__author__title">VP de Tecnologia</div>
                    <div class="testimonial__author__company">Lancaster Bibble College</div>
                </div>
            </div>

        </div>
        <div class="box-item col-xs-12 col-sm-4 bgc--xs--theme-primary">
            <div class="ht--s--22 box-item__title c c-font-color-lightest">
                Mercy College
            </div>
            <div
                class="testimonial app"
            >
                <p class="testimonial__quote">
                    CampusNexus CRM nos permite utilizar dados internos para entender melhor as necessidades dos candidatos
                    e alunos. Assim construímos programas para ajudá-los a atingir seus objetivos educacionais e de pós-graduação.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Todd Pratella</div>
                    <div class="testimonial__author__title">Diretor de TI</div>
                    <div class="testimonial__author__company">Mercy College</div>
                </div>
            </div>
        </div>
        <div class="box-item col-xs-12 col-sm-4 bgc--xs--theme-primary-light">
            <div class="ht--s--22 box-item__title c c-font-color-lightest">
                Bridgepoint Education
            </div>
            <div
                class="testimonial app"
            >
                <p class="testimonial__quote">
                    Eu também estou animado com o que o CampusNezus pode nos trazer em termos das próximas gerações de
                    soluções e tecnologia.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Tom Ashbrook</div>
                    <div class="testimonial__author__title">VP Executivo e CIO</div>
                    <div class="testimonial__author__company">Bridgepoint Education</div>
                </div>
            </div>
        </div>
    </div>
</section>
