<div class="bgg-box-bg-grey--box-bg-alt reverse">
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-grey bgc--md--box-bg-alt">
                {{>[box-v3/request-a-demo--pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-alt bgc--md--box-bg-grey">
                {{>[box-v3/product-sheets--pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-grey bgc--sm--box-bg-alt">
                {{>[box-v3/case-studies--pt-br]}}
        </div>
        <div class="box-item col-xs-12 col-sm-6 col-md-3 bgc--xs--box-bg-alt bgc--sm--box-bg-grey">
                {{>[box-v3/news--pt-br]}}
        </div>
    </div>
</div>
