<div class="ht--s--22 box-item__title c">
    Lancaster Bibble College
</div>
<div
    class="testimonial app"
    id="page_testimonial"
>
    <p class="testimonial__quote">
        Temos a confiança de que CampusNexus vai permitir a Lancaster Bibble College a continuar crescendo e
        servindo aos estudantes com um modelo sustentável.
    </p>
    <div class="testimonial__author">
        <div class="testimonial__author__name">Vince Johnson</div>
        <div class="testimonial__author__title">VP de Tecnologia</div>
        <div class="testimonial__author__company">Lancaster Bibble College</div>
    </div>
</div>
