<h2 class="ht--s--20 c-theme-primary-dark box-item__title c">Notícias e Eventos</h2>
<div class="box-item__img c vc sprite-img sprite-img--link-box-news"></div>
<a
    class="pill-button box-item__link"
    href="{{url-lang-prefix}}/noticias-e-eventos/press-releases/"
>Detalhes
</a>
