<h2 class="ht--s--20 c-theme-primary-dark box-item__title c">Ficha de Produto</h2>
<div class="box-item__img c vc sprite-img sprite-img--link-box-product-sheets"></div>
<a
    class="pill-button box-item__link"
    href="{{safeValue href '{{url-lang-prefix}}/solucoes/Folha-do-Produto/' }}"
>Review
</a>
