.products-and-solutions {
    @extend %content-wrapper;

    padding: 0;
    text-align: center;

    p {
        @include adjust-font-size-to(16px);

        color: $font-color-text;
    }
}

.products-and-solutions__title {
    @include adjust-font-size-to(32px);

    margin: 0 0 rhythm(0.5);
    color: $theme-primary-dark;
    font-family: $font-family-secondary;
    text-align: center;
}

.products-and-solutions__sub-title {
    @include adjust-font-size-to(16px);

    margin: 0 auto rhythm(1);
    color: $font-color-text;
    text-align: center;

    @media (min-width: $screen-xs-min) {
        width: 75%;
    }

    @media (min-width: $screen-sm-min) {
        width: 50%;
    }
}

.products-and-solutions__list {
    display: flex;
    flex-wrap: wrap;
}

.products-and-solutions-item {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);

    display: flex;
    flex: 1 1 auto; // ie ruins everything
    flex-direction: column;
    margin-bottom: rhythm(1);

    p {
        @include adjust-font-size-to(14px);

        margin-bottom: rhythm(1);
    }

    > :first-child:before {
        display: block;
        margin: 0 auto rhythm(0.5);
        content: '';
    }
}

.products-and-solutions-v2 .products-and-solutions-item {
    @include make-xs-land-column(6);
    @include make-sm-column(4);

    display: block;

    @media (min-width: $screen-md-min) {
        width: 20%;
    }
}

.products-and-solutions-item__title {
    margin-bottom: rhythm(1);
    color: $theme-primary-dark;

    sup {
        @include adjust-font-size-to(12px);

        top: -rhythm(0.5);
        font-weight: 300;
        line-height: 1;
    }
}

.products-and-solutions-v2 .products-and-solutions-item__title {
    @include adjust-font-size-to(18px, 0.875);

    font-family: $font-family-secondary;
    margin-bottom: rhythm(0.5);
    color: $theme-primary-dark;
}

.products-and-solutions-item__details-link {
    align-self: center;
    margin-top: auto;
}

// scss-lint:disable QualifyingElement
a.products-and-solutions-item__link {
    display: block;
    color: $theme-primary-dark;
    text-decoration: none;
}

// scss-lint:enable QualifyingElement
