.top-nav-menu .top-nav-menu__charm-button--account {
    &:after {
        // @extend %svg-account;
        // @include svg-account-dims;
    }
}

.cmc-form--login {
    width: auto;
    max-width: 350px;

    label {
        text-align: left;
    }

    @media (min-width: $screen-sm-min) {
        width: auto;
    }

    .input-note {
        @include make-xs-column(12);
        @include make-xs-land-column(8);
        @include make-xs-land-column-offset(4);

        margin-bottom: 0;
        text-align: left;
    }
}

.cmc-form.cmc-form--login {
    fieldset {
        label {
            @media (min-width: $screen-xs-land-min) {
                padding: 0;
            }
        }
    }
}

.account-modal {
    p {
        margin-bottom: rhythm(1);
    }

    .modal-title {
        margin-bottom: rhythm(0.5);
    }

    .modal-body {
        display: block;
        min-height: rhythm(5);
    }

    .signin-error {
        color: $font-color-error;

        &:empty {
            display: none;
        }
    }

    .loading--placeholder {
        display: none;
    }

    .cmc-article__link-list {
        .cmc-article__link {
            margin-right: auto;
            margin-left: auto;

            @media (min-width: $screen-xs-land-min) {
                margin-right: rhythm(0.5);
                margin-left: rhythm(0.5);
            }
        }
    }
}

@mixin create-authenticated-classes($year) {
    // scss-lint:disable QualifyingElement SelectorFormat IdSelector
    li.top-nav-menu__item--account--authenticated.auth-year-#{$year},
    .account-modal-body__authenticated.auth-year-#{$year} {
        display: none;
    }

    // scss-lint:enable QualifyingElement SelectorFormat IdSelector

    .top-nav-menu__item--account--unauthenticated.auth-year-#{$year},
    .account-modal-body__unauthenticated.auth-year-#{$year} {
        display: block;
    }

    .authenticated-#{$year} {
        // scss-lint:disable QualifyingElement SelectorFormat IdSelector
        li.top-nav-menu__item--account--authenticated.auth-year-#{$year},
        .account-modal-body__authenticated.auth-year-#{$year} {
            display: block;
        }
        li.top-nav-menu__item--account--unauthenticated.auth-year-#{$year},
        .account-modal-body__unauthenticated.auth-year-#{$year} {
            display: none;
        }
    }
}

@include create-authenticated-classes('2017');
@include create-authenticated-classes('2018');
@include create-authenticated-classes('2019');
@include create-authenticated-classes('2020');

#navMenuItem_myconference {
    display: none;
}

.navMenuItem_myconference--unauthenticated {
    display: block;
}

body[class^='authenticated-'],
body[class*=' authenticated-'] {
    #navMenuItem_myconference {
        display: block;
    }

    .navMenuItem_myconference--unauthenticated {
        display: none;
    }
}

.auth-loading {
    .account-modal-body__authenticated {
        display: none;
    }

    .account-modal-body__unauthenticated {
        display: none;
    }

    .top-nav-menu__item--account--unauthenticated {
        visibility: hidden;
    }

    .loading--placeholder {
        display: block;
    }
}

.choose-country-modal__choose-country-button--sign-out {
    background: transparent;
    border: 0;
}

.cmc-form__submit-button.cmc-form__submit-button--back {
    float: left;
    padding: 0.25rem rhythm(0.75) 0.25rem rhythm(1.25);

    &:after {
        position: absolute;
        right: auto;
        left: rhythm(0.5);
        transform: translateY(-50%) rotate(180deg);
    }
}

.cmc-form {
    label {
        @include make-xs-column(12);
        @include make-xs-land-column(4);
    }

    .validation-error {
        @include adjust-leading-to(0.75);

        display: block;
        text-align: left;
    }

    .form-group.required:after {
        content: none;
    }
}

.cmc-form__submit-button[disabled] {
    opacity: 0.5;
}

.cmc-form__submit-button--login {
    float: right;
}

.cmc-form__create-account-link {
    float: left;
}

.cmc-form [type='button'].cmc-form__back-link,
.cmc-form [type='button'].cmc-form__forgot-password-link {
    @include adjust-font-size-to(14px, 1);

    padding: 0;
    color: $font-color-link;
    font-weight: 400;
    text-decoration: underline;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:after {
        content: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.cmc-form__submit-row--login {
    margin: rhythm(0.5) 0;
}

.schedule-conflict-modal {
    color: $font-color-text-darker;

    .modal-title {
        margin-bottom: 0;
    }

    .modal-body {
        text-align: left;
    }

    .schedule-conflict-modal__session-title {
        @include adjust-font-size-to(18px);

        color: $font-color-text-darkest;
        font-family: $font-family-secondary;
    }

    .schedule-conflict-modal__session-time {
        display: block;
    }

    .schedule-conflict-modal__overlaps-list,
    .schedule-conflict-modal__session-wrapper {
        margin-bottom: rhythm(1);
    }

    .schedule-conflict-modal__overlaps-list {
        li:not(llast-child) {
            margin-bottom: rhythm(0.5);
        }
    }

    .cmc-form__submit-row {
        @include clearfix;
    }
}

// scss-lint:disable QualifyingElement

button.schedule-conflict-modal__add-anyway-btn,
button.schedule-conflict-modal__replace-btn,
button.schedule-conflict-modal__cancel-btn {
    @include pill-button();

    display: block;
    float: none;
    margin: auto;

    @media (min-width: $screen-xs-min) {
        float: right;
        margin: 0;
    }
}

button.schedule-conflict-modal__cancel-btn {
    margin-bottom: rhythm(1);
    padding: 0.25rem rhythm(0.75) 0.25rem rhythm(1.25);

    @media (min-width: $screen-xs-min) {
        float: left;
        margin-bottom: 0;
    }

    &:after {
        position: absolute;
        right: auto;
        left: rhythm(0.5);
        transform: translateY(-50%) rotate(180deg);
    }
}

button.top-nav-menu__account-btn {
    @include adjust-font-size-to(16px, 1);

    display: inline-block;
    padding: 0.25rem rhythm(0.75);
    color: $font-color-icon;
    font-weight: 400;
    text-decoration: none;
    background-color: $left-nav-bg-hover;
    border: 0;
    border-radius: rhythm(1);
    cursor: pointer;
}

// scss-lint:enable QualifyingElement
