.support-consultations-import {
    position: relative;
    margin: 0 rhythm(0.5);
}

.support-con-import__button {
    @include pill-button();
    @include adjust-font-size-to(12px, 0.8);
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.support-consultations-import__table {
    @include adjust-font-size-to(12px, 0.8);
    font-weight: 300;
    margin: rhythm(1) 0;
    td, th {
        padding: rhythm(0.125);
        border: 1px solid $border-color;
    }
    th {
        font-weight: 400;
    }
}

.import-view__instruction {
    @include adjust-font-size-to(14px, 1);
}

.double-booker-notice {
    color: #FF0000;
}
