.support-consultations-grid {
    position: relative;
}

.support-consultations-grid__title {
    margin: rhythm(0.5) 0 rhythm(0.5) rhythm(0.5);
}

.support-consultations-kiosk-table {
    margin-bottom: rhythm(1);
    table-layout: fixed;

    &:not(:last-child) {
        margin-bottom: rhythm(2);
    }

    td,
    th {
        @include adjust-font-size-to(14px, 0.75);

        width: 7.69230769%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        border: 1px solid $border-color;
    }

    td {
        padding: rhythm(0.125);
        font-weight: 300;
    }

    th {
        padding: rhythm(0.5);
    }

    thead tr:nth-child(1) {
        background-color: $theme-tertiary-light;

        th {
            @include adjust-font-size-to(24px, 1.5);

            padding: rhythm(0.125) rhythm(0.5);
            color: $font-color-icon;
            font-weight: 400;
            font-family: $font-family-secondary;
            letter-spacing: -0.5px;
            text-align: left;
            border-bottom: 3px solid $font-color-icon;
        }
    }

    thead tr:nth-child(2) {
        th:nth-child(1) {
            background-color: $font-color-icon;
            border-width: 0;
        }

        th {
            color: $font-color-icon;
            background-color: $theme-primary-light;
        }
    }

    thead tr:nth-child(3) {
        th:nth-child(1) {
            background-color: $font-color-icon;
            border-width: 0;
        }
    }

    tbody tr:nth-child(even) {
        background-color: $left-nav-bg;
    }
}

.support-con-table__toggle-old-wrapper {
    float: right;

    label {
        @include adjust-font-size-to(10px, 1);
        font-weight: 300;
        vertical-align: middle;
    }

    input {
        vertical-align: middle;
    }
}

.support-con-table__schedule-button {
    display: block;
    margin: 0 auto rhythm(1);
}

.support-con-table__close-slot-button,
.support-con-table__closed-button,
.support-con-table__open-button {
    @include pill-button();
    @include adjust-font-size-to(12px, 0.8);

    position: relative;
    margin: rhythm(0.35) 0;
    padding-top: 0;
    padding-bottom: 0;
}

.support-con-table__closed-button {
    opacity: 0.5;
}

.support-con-table__reopen-button {
    margin: 0;
}

.support-con-table__close-slot-button {
    display: block;
    margin: 0 auto;
}

.support-con-table__easy-booked-span {
    cursor: pointer;
}

.support-con-table__easybook-form input {
    @include adjust-font-size-to(16px, 1);

    display: block;
    margin-bottom: rhythm(0.5);
}

.popover-content {
    padding: rhythm(0.5);

    p {
        margin-bottom: rhythm(0.5);
    }
}

.support-con-table__popup--regular-booked {
    .support-con-table__reopen-button {
        display: block;
        margin: 0 auto;
    }
}
