@import 'cmc-site/app/styles/common-imports';
@import 'cmc-site/app/styles/base/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/popovers';
//@import 'bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../components/event-schedule-table';
@import '../components/sign-in-sign-up';

body,
.cmc-article {
    margin: 0;
    padding: 0;
}

.cmc-form--registration-form {
    input,
    label,
    textarea {
        @include adjust-font-size-to(16px, 1);
    }

    input,
    textarea {
        padding: 2px rhythm(0.25);
    }

    label {
        padding-top: 2px;
    }

    fieldset > ul > li {
        margin-bottom: rhythm(0.5);
    }

    .cmc-article__link--reversed {
        float: left;
        margin-left: $grid-gutter-width / 2;
    }

    .cmc-form__submit-button {
        margin-top: rhythm(1);
    }
}

.cmc-form > fieldset > ul > li > div > label.long-label {
    @include make-xs-land-column(12);

    + .input-wrapper {
        @include make-xs-land-column-offset(4);
    }
}

.support-consultations {
    @include adjust-font-size-to(16px, 1);

    min-height: 150px;

    .event-schedule-table th {
        @include adjust-leading-to(1);
    }

    .event-schedule-table td {
        &.event-schedule-table__time-cell:before {
            content: 'Time';
        }

        &.event-schedule-table__title-cell:before {
            content: 'Title';
        }

        &.event-schedule-table__location-cell:before {
            content: 'Location';
        }

        &.event-schedule-table__actions-cell:before {
            content: '';
        }

        &:before {
            @include adjust-leading-to(1);

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: rhythm(3.5);
            padding: 0 0 0 rhythm(0.5);
            font-weight: 400;
            vertical-align: top;
            background-color: #f4f4f4;
            border-right: 1px solid $border-color;

            @media (min-width: $screen-sm-min) {
                content: none !important;
            }
        }
    }

    .event-schedule-table__time-cell {
        width: auto;

        @media (min-width: $screen-sm-min) {
            width: rhythm(7);
        }
    }

    .event-schedule-table__actions-cell {
        width: auto;

        @media (min-width: $screen-xs-land-min) {
            width: rhythm(5);
        }
    }
}

.select-analyst-list {
    @include clearfix;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: rhythm(1);
}

.select-analyst-list-item {
    @include make-xs-column(12);
    @include make-xs-land-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    @include make-lg-column(3);

    margin-bottom: rhythm(1);
    text-align: center;
}

.select-analyst-list-item__name {
    @include adjust-font-size-to(14px, 1);

    position: relative;
    display: inline-block;
    padding: 0 rhythm(1);
    color: $font-color-text-dark;
    font-weight: 300;
    border-bottom: 1px solid $border-color;
}

.select-analyst-list-item__topic {
    @include adjust-font-size-to(18px, 1);

    display: block;
    color: $theme-primary-dark;
    font-weight: 400;
    white-space: normal;
}

.support-consultations__select-analyst .cmc-article__link {
    clear: both;
}

.select-analyst-button {
    width: 100%;
    min-height: rhythm(3.5);
    padding: 0;
    white-space: nowrap;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: $left-nav-bg;
    }
}

.support-consultations__select-analyst__days-container {
    @include make-row();

    margin: 0 0 rhythm(1);
}

.support-consultations__select-analyst__day {
    @include make-xs-column(12);
    @include make-sm-column(6);
}

.support-consultations__select-analyst__day-title {
    @include adjust-font-size-to(24px, 1.5);

    clear: both;
    margin: rhythm(0.25) 0 0;
    padding-left: rhythm(0.5);
    color: $font-color-icon;
    font-weight: 400;
    font-family: $font-family-secondary;
    letter-spacing: -0.5px;
    background-color: $theme-tertiary-light;
}

.support-consultations__select-analyst__select-slot-button {
    @include pill-button();
    @include adjust-font-size-to(14px);

    position: absolute;
    left: rhythm(6.25);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.support-consultations__select-analyst__day-list-item {
    position: relative;
    padding: rhythm(0.5) 0 rhythm(0.5) rhythm(0.5);
}

.support-consultations__conflict-tooltip {
    &.support-consultations__conflict-tooltip.type-dark {
        //specificity
        padding: rhythm(0.25) rhythm(0.5);
        color: $font-color-text-dark;
        background-color: $box-bg-grey;
        border-radius: 6px;

        &.place-top:after {
            border-top-color: $box-bg-grey;
        }
    }

    p:not([class]) {
        margin: 0;
        font-weight: 400;
    }

    ul {
        list-style-position: inside;
        list-style-type: disc;
    }
}

.profile-view-list {
    @include clearfix;

    margin-bottom: rhythm(1);

    dt {
        float: left;
        clear: left;
        min-width: 100px;
        font-weight: 400;
    }

    dd {
        float: left;
        font-weight: 300;
    }
}

.support-consultations__scheduled-appointments {
    @include clearfix;

    margin-bottom: rhythm(1);
}

.pill-button--reversed {
    padding: rhythm(0.25) rhythm(0.75) rhythm(0.25) rhythm(1.25);

    &:after {
        right: auto;
        left: 1em;
        transform: translateY(-50%) rotate(0.5turn);
    }
}

.signin-error {
    padding-left: $grid-gutter-width/2;
    color: $font-color-error;

    &:empty {
        display: none;
    }
}
