@import 'cmc-site/app/styles/common-imports';
@import 'cmc-site/app/styles/base/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/popovers';
//@import 'bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../components/sign-in-sign-up';

.xlsJson__dl-btn {
    margin-top: rhythm(1);
}

.support-consultations-dl-xls {
    display: block;
    min-height: 230px;
    position: relative;
}
