<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
    {{#eq NODE_ENV 'production'}}
        {{>scripts-preload}}
        <link rel="stylesheet" href="/styles/critical.css" inline>
        <link rel="stylesheet" href="/styles/main.css" media="print" onload="this.media='all'">
    {{else}}
        <link rel="stylesheet" href="/styles/crit-forced.css">
        <link rel="stylesheet" href="/styles/main.css">
    {{/eq}}
    <link rel="canonical" href="{{@root.config.domains.self}}/{{trailingSlash path}}" />
    {{> alternates }}
    {{> additional-stylesheets}}

</head>
<body>
<div style="display:none">
    <div class="layout__bg--top"></div>
    <button class="main-nav__open-menu-button"></button>
    <ul class="main-nav__pages-list">
        <li><a>FOO</a></li>
    </ul>
    <div class="layout__bg--top">
        <div class="left-nav-menu__layout-container">
            <div id="mainNav"></div>
        </div>
    </div>
</div>

{{{contents}}}

{{#isnt NODE_ENV 'production'}}
    <script src="/dll.bundle.js"></script>
{{/isnt}}
{{>scripts}}
</body>
</html>
