<!doctype html>
<html lang="{{fixEnUs language}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
    {{#if private}}
        <meta name="robots" content="noindex, nofollow">
    {{/if}}

    {{#eq NODE_ENV 'production'}}
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1064115107"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-1064115107');
        </script>
    {{/eq}}

    <title>{{title}}</title>

    <link
        rel="preload"
        as="font"
        type="font/woff2"
        crossOrigin="anonymous"
        href="/fonts/open-sans-v16-latin-300.woff2"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        crossOrigin="anonymous"
        href="/fonts/open-sans-v16-latin-regular.woff2"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        crossOrigin="anonymous"
        href="/fonts/oswald-v17-latin-regular.woff2"
    />

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://www.googleadservices.com">
    <link rel="preconnect" href="https://sjs.bizographics.com">

    {{#eq NODE_ENV 'production'}}
        {{>scripts-preload}}

        <link rel="stylesheet" href="/styles/critical.css" inline>
        <link rel="stylesheet" href="/styles/main.css" media="print" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="/styles/main.css">
        </noscript>
    {{else}}
        <link rel="stylesheet" href="/styles/crit-forced.css">
        <link rel="stylesheet" href="/styles/main.css">
    {{/eq}}
    <link rel="canonical" href="{{@root.config.domains.self}}/{{trailingSlash path}}" />
    {{> alternates }}
    {{> additional-stylesheets}}

    <!--<link rel="stylesheet" href="https://basehold.it/26/ff0000">-->
    <!--<link rel="stylesheet" href="/styles/vendor/baseholdit-26-ff0000.css">-->

    <script>
        // window._i18n = {};
        // window._i18n.locale = 'fr';
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#1a5fac">
    <meta name="msapplication-TileColor" content="#1a5fac">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#1a5fac">

    {{#if meta-description}}
        <meta name="description" content="{{meta-description}}" />
        <meta property="og:description" content="{{meta-description}}" />
    {{/if}}

    {{#if fb-image}}
    {{! set by og-image || social-image || banner-image || config.facebook.fbDefaultImg}}
        <meta property="og:image" content="{{@root.config.domains.self}}{{fb-image}}" />
        <meta property="og:image:width" content="{{fb-image-width}}" />
        <meta property="og:image:height" content="{{fb-image-height}}" />
    {{/if}}

    <meta property="fb:app_id" content="{{@root.config.facebook.fpAppId}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="{{@root.config.facebook.fbSiteName}}" />
    <meta property="og:type" content="{{og-type}}" />
    <meta property="og:url" content="{{@root.config.domains.self}}/{{path}}/" />

    <!--
    <PageMap>
    {{#if google-image}}
    {{! set by google-image[url or 'disabled'] || social-image || banner-image || disabled}}
        {{#isnt google-image 'disabled'}}
            <DataObject type="thumbnail">
                <Attribute name="src" value="{{@root.config.domains.self}}{{google-image}}"/>
                <Attribute name="width" value="{{google-image-width}}"/>
                <Attribute name="height" value="{{google-image-height}}"/>
            </DataObject>
        {{else}}
            <DataObject type="thumbnail" />
        {{/isnt}}
    {{/if}}
    </PageMap>
    -->

    {{#if twitter-image}}
        {{#gt twitter-image-width 250}}
            <meta name="twitter:card" content="summary_large_image">
        {{else}}
            <meta name="twitter:card" content="summary">
        {{/gt}}
        <meta name="twitter:site" content="@CampusMgmt">
        <meta name="twitter:image" content="{{@root.config.domains.self}}{{twitter-image}}">
    {{/if}}

</head>

<body class="v2 {{pageCssClass}}">
<a name="page-top"></a>
<div id="fb-root"></div>
<!--[if lte IE 9]>
<p>This site requires IE10 or above. <a href="http://outdatedbrowser.com/">Click here to upgrade</a></p>
<![endif]-->

<div class="news-banner-wrapper bgc--xs--lightest {{#if page-bg-image--xs}}has-xs-img{{/if}}">
    <div class="news-banner c-font-color-text-darkest ht--p--14-075">
        <p class="news-banner__text"><span class="ht--s--16">A Campus Management agora é Anthology.</span> Juntamos forças com as empresas Campus Labs e iModules para revolucionar o Ensino Superior.</p>
        <a href="http://www.anthologyinc.com/press-release" class="ht--s--16 news-banner__link" target="_blank" rel="noopener">
            <p>Leia sobre a novidade!</p>
            <img height="39px" width="163px" src="/images/ui/anthology-logo.svg" />
        </a>
    </div>
</div>

<div class="sticky-bg">
    {{#hasBgImg}}
        <picture>
            {{#if page-bg-image--xs}}
            <source
                srcset="{{page-bg-image}}"
                media="(min-width: 600px)"
                />
            <source srcset="{{page-bg-image--xs}}" />
            {{/if}}
            <img
                src="{{page-bg-image}}"
                class="page-bg-image {{page-bg-classes}}"
            />
            </picture>
    {{/hasBgImg}}
</div>

<div class="page {{#if page-bg-image--xs}}has-xs-img{{/if}}">

{{#if show-carousel-bg}}
    {{>home-page-carousel-bg-stub}}
{{/if}}

<div class="layout__bg--top" style="position: absolute; top: 0; left: 0; right: 0;">
        {{>main-nav}}
</div>

<div class="layout-bg--social-media-share">
        {{> social-media-share-plugins-list}}
</div>

<div
    class="location-notification location-notification--hidden"
    data-match-key="GDPR"
    style="visibility: hidden;"
    aria-hidden="true"
>
    <div class="location-notification__content ht--p--14-075">
        We use cookies to make your website experience better. To learn about how we keep your information safe,
        <a
            class="location-notification__link"
            href="https://www.campusmanagement.com/about-us/privacy/"
        >view our privacy policy</a>.
        <button class="location-notification-close-btn">Close</button>
    </div>
</div>

{{{contents}}}

<div class="layout__bg--footer">
        {{> (partialSuffix 'footer')}}
</div>
</div>

<!-- Modal -->
<div class="modal country-modal" id="CountryModal" tabindex="-1" role="dialog" aria-labelledby="CountryModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="ht--s--24 modal-title" id="CountryModalLabel">Choose a Country</h4>
            </div>
            <div class="modal-body">
                <a href="{{@root.config.domains.cmc}}"
                   class="ht--s--18 c-theme-primary-dark choose-country-modal__choose-country-button choose-country-modal__choose-country-button--usa">
                    United States
                </a>
                <a href="{{@root.config.domains.cmc}}/en-in/"
                   class="ht--s--18 c-theme-primary-dark choose-country-modal__choose-country-button choose-country-modal__choose-country-button--india">
                    India
                </a>
                <a href="{{@root.config.domains.ptbr}}"
                   class="ht--s--18 c-theme-primary-dark choose-country-modal__choose-country-button choose-country-modal__choose-country-button--brazil">
                    Brazil
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal support-modal" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="ht--s--24 modal-title" id="SupportModalLabel">Client Support</h4>
            </div>
            <div class="modal-body">
                <a href="https://support.campusmgmt.com/"
                   class="ht--s--18 c-theme-primary-dark choose-country-modal__choose-country-button choose-country-modal__choose-country-button--service-desk">
                    ServiceDesk
                </a>
                <a href="http://www.mycampusinsight.com"
                   class="ht--s--18 c-theme-primary-dark choose-country-modal__choose-country-button choose-country-modal__choose-country-button--myCampusInsight">
                    MyCampusInsight
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal search-modal" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="ht--s--24 modal-title" id="SearchModalLabel">Search this Site</h4>
            </div>
            <div class="modal-body">
                 <form action="{{@root.config.domains.self}}{{url-lang-prefix}}/search/" method="get" class="search-form">
                    <label for="search">Search</label>
                    <input type="text" name="q" id="search" placeholder="Search" />
                    <input type="submit" class="search-form__search-btn" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>
{{#isnt NODE_ENV 'production'}}
<script src="/dll.bundle.js"></script>
{{/isnt}}

{{>scripts}}

</body>
</html>
