<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    {{#eq NODE_ENV 'production'}}
        {{>scripts-preload}}
        <link rel="stylesheet" href="/styles/critical.css" inline>
        <link rel="stylesheet" href="/styles/main.css" media="print" onload="this.media='all'">
    {{else}}
        <link rel="stylesheet" href="/styles/crit-forced.css">
        <link rel="stylesheet" href="/styles/main.css">
    {{/eq}}

    {{> additional-stylesheets}}
</head>
<body>
<div style="display:none">
    <div class="layout__bg--top"></div>
    <button class="main-nav__open-menu-button"></button>
    <ul class="main-nav__pages-list">
        <li><a>FOO</a></li>
    </ul>
    <div class="layout__bg--top">
        <div class="left-nav-menu__layout-container">
            <div id="mainNav"></div>
        </div>
    </div>
</div>
{{{contents}}}
{{>login-modal not-year="2020"}}

{{#isnt NODE_ENV 'production'}}
    <script src="/dll.bundle.js"></script>
{{/isnt}}
{{>scripts}}
</body>
</html>
