/*
#  X-Frame-Options: SAMEORIGIN
  X-XSS-Protection: 1
  X-Download-Options: noopen
  X-Content-Type-Options: nosniff
  Cache-Control: max-age=720,must-revalidate,public

/scripts/*
  Cache-Control: max-age=31536000,immutable,public

/styles/*
  Cache-Control: max-age=31536000,immutable,public

/images/*
  Cache-Control: max-age=31536000,public

/fonts/*
  Cache-Control: max-age=31536000,public

/dev/*
  Basic-Auth: cmc:dev

/documents.xml
  X-Robots-Tag: noindex
/pages.xml
  X-Robots-Tag: noindex
/robots.txt
  X-Robots-Tag: noindex


#just push the home page
/<% data.homePageScripts.forEach((x)=>{ %>
  Link: <<%=x%>>; rel=preload; as=script<% }) %>
  Link: </styles/main.css>; rel=preload; as=style
  Link: </fonts/open-sans-v16-latin-300.woff2>; rel=preload; as=font; crossorigin=anonymous
  Link: </fonts/open-sans-v16-latin-regular.woff2>; rel=preload; as=font; crossorigin=anonymous
  Link: </fonts/oswald-v17-latin-regular.woff2>; rel=preload; as=font; crossorigin=anonymous
