User-agent: *
<% if(process.env.BRANCH !== 'netlify'){ %>
Disallow: /*
<% } else { %>
Disallow: /404.html
Disallow: /search/
Disallow: /contato/contato-complete/
Disallow: /solucoes/dl-case-study/
Sitemap: <%= data.CORS_ORIGIN_SELF %>/sitemap.xml
<% } %>
