---
# <!-- @formatter:off -->
title: Campus Management Corp®
pageCssClass: page--home
og-type: website
in-nav--pt-br: false
alt--en: /
alt--en-in: /en-in/
show-carousel-bg: true
additional-scripts:
    - src: /scripts/page--home.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/home.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<section
    id="home-page-carousel"
    data-interval="10000"
    class="home-page-carousel carousel slide container"
>
    <h1>Campus News</h1>
    <div class="carousel-inner" role="listbox">
        {{! edit first image in home-page-carousel-bg-stub }} {{! edit first
        image in home-page-carousel-bg-stub }} {{! edit first image in
        home-page-carousel-bg-stub }}

        <div
            class="item active"
            data-desktop-bg="/images/pages/higher-education-resources/product-sheets-bkg.jpg"
        >
            <div
                class="home-page-carousel__item home-page-carousel__item--left home-page-carousel__item--short-content"
            >
                <div class="home-page-carousel__item-content-wrapper c-font-color-lightest">
                    <h2
                        class="ht--p--18-24 home-page-carousel__title c-font-color-lightest"
                    >
                        Campus Management
                    </h2>
                    <p class="ht--s--38-45 home-page-carousel__sub-title">
                        Parceiro Microsoft para Educação
                    </p>
                    <div class="home-page-carousel__content-body">
                        <p class="ht--p--16-20 c-font-color-lightest pb1">
                            Excelência em inovação e implantação de soluções
                            para clientes, baseadas em tecnologia Microsoft
                        </p>
                    </div>
                    <ul class="home-page-carousel__link-list">
                        <li>
                            <a
                                href="{{url-lang-prefix}}/noticias-e-eventos/press-releases/Campus-Management-vence-o-premio-Microsoft-parceiro-do-ano-2018-para-educacao/"
                                class="pill-button"
                                >Veja a Matéria Completa</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="item" data-desktop-bg="/images/pages/demos/NLC-bkg-v2.jpg">
            <div
                class="home-page-carousel__item home-page-carousel__item--left home-page-carousel__item--short-content"
            >
                <div class="home-page-carousel__item-content-wrapper c-font-color-lightest">
                    <h2
                        class="ht--p--18-24 home-page-carousel__title c-font-color-lightest"
                    >
                        Webcast
                    </h2>
                    <p class="ht--s--38-45 home-page-carousel__sub-title">
                        Universidade Positivo Webcast
                    </p>
                    <div class="home-page-carousel__content-body">
                        <p class="ht--p--16-20 c-font-color-lightest pb1">
                            A Universidade Positivo compartilha sua visão
                            estratégia para responder às tendências econômicas e
                            educacionais no estado do Paraná, Brasil.
                        </p>
                    </div>
                    <ul class="home-page-carousel__link-list">
                        <li>
                            <a
                                href="{{url-lang-prefix}}/noticias-e-eventos/webcasts/estrategias-bem-sucedidas-para-o-crescimento-e-o-sucesso-apresentando-a-Universidade-Positivo/"
                                class="pill-button"
                                >Veja Webcast</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div
            class="item"
            data-desktop-bg="/images/pages/products/crm/crm-bkg-v2.jpg"
        >
            <div
                class="home-page-carousel__item home-page-carousel__item--left home-page-carousel__item--short-content"
            >
                <div class="home-page-carousel__item-content-wrapper c-font-color-lightest">
                    <h2
                        class="ht--p--18-24 home-page-carousel__title c-font-color-lightest"
                    >
                        CampusNexus<sup>&reg;</sup> CRM
                    </h2>
                    <p class="ht--s--38-45 home-page-carousel__sub-title">
                        Envolva Estudantes
                    </p>
                    <div class="home-page-carousel__content-body">
                        <p class="ht--p--16-20 c-font-color-lightest pb1">
                            Envolva estudantes com campanhas altamente
                            personalizadas, comunicações e serviços por todo o
                            ciclo de vida.
                        </p>
                    </div>
                    <ul class="home-page-carousel__link-list">
                        <li>
                            <a
                                href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM/"
                                class="pill-button"
                                >Mais</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" class="active" data-slide-to="0">
            <span class="carousel-indicators__graphic">1</span>
        </li>
        <li data-target="#home-page-carousel" class="" data-slide-to="1">
            <span class="carousel-indicators__graphic">2</span>
        </li>
        <li data-target="#home-page-carousel" class="" data-slide-to="2">
            <span class="carousel-indicators__graphic">3</span>
        </li>
    </ol>

    <a
        class="left carousel-control"
        href="#home-page-carousel"
        role="button"
        data-slide="prev"
    >
        <span class="sr-only">Previous</span>
    </a>
    <a
        class="right carousel-control"
        href="#home-page-carousel"
        role="button"
        data-slide="next"
    >
        <span class="sr-only">Next</span>
    </a>
</section>

{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
