---
# <!-- @formatter:off -->
title: Search Campus Management Corp ®
banner-image: /images/pages/home/Banner_productSheets.gif
private: true
in-nav--pt-br: false
alt--en: /search/
alt--en-in: /en-in/search/
additional-scripts:
  - src: /scripts/page--search.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/search-results.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />

    <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Search Results</p>

    <div id="SearchResultContainer" class="app" data-index="cmc--pt-br">
        <div class="loading--placeholder">Loading...</div>
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank" rel="noopener">
            Search By
            <img src="/images/pages/search/Algolia_logo_bg-white.jpg" class="search-results-by__img" alt="Algolia" />
        </a>
    </p>
</div>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
