---
# <!-- @formatter:off -->
title: A Campus Management tem o Prazer de Anunciar os Vencedores do Prêmio Anual de Excelência durante a CampusInsight 2018
publish: 2018-05-04
alt--en: /news-and-events/press-releases/Campus-Management-announces-annual-Excellence-Award-winners-during-CampusInsight-2018/
alt--en-in: /en-in/news-and-events/press-releases/Campus-Management-announces-annual-Excellence-Award-winners-during-CampusInsight-2018/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">A Campus Management tem o Prazer de Anunciar os Vencedores do Prêmio Anual de Excelência durante a CampusInsight 2018</p>
    
    <h2 class="ht--p--400 ht--p--16 c-font-color-text-dark article__subtitle">Asbury University, Ultimate Medical Academy e Unicesumar são os grandes prestigiados do ano</h2>

    <p><b>Boca Raton, Florida – Abril 25, 2018</b> - Durante a CampusInsight 2018 que ocorreu em abril, a Campus Management Corp. anunciou os vencedores dos seus prêmios de excelência anual homenageando Instituições de Ensino Superior. Os homenageados foram reconhecidos por adotar tecnologias focadas em Ensino Superior para alcançar resultados mensuráveis, melhorar a eficiência e por melhor servir os alunos e professores.</p>
    
    <figure class="press-release__figure" style="width: 400px;">
		<img src="/images/pages/news-and-events/press-releases/CI2018-Excellence-Awards.jpg" alt="Instituições de Ensino Superior"/>
		<figcaption class="press-release__figcaption">Asbury University, Ultimate Medical Academy e Unicesumar recebem os</figcaption>
	</figure>

    <p>“Os nossos vencedores são líderes apaixonados e dedicados do Ensino Superior que utilizam da tecnologia para crescer, eles representam nosso método de pensamento-futuro assim como o restante dos nossos clientes!" disse Jim Milton, CEO da Campus Management. “As maneiras inovadoras que os vencedores encontraram para utilizar a tecnologia ocasionando melhorias significativas no processo de negócios, além de mostrar resultados mensuráveis em seus campi, acarretando em melhores experiências globais para professores, funcionários e estudantes."</p>

    <p>E os Vencedores do Prêmio Campus Management de Excelência 2018 são:</p>

    <p><strong>Asbury University</strong> (Eficiência Operacional) – a universidade cristã de artes liberais reconheceu a necessidade de automatizar totalmente a recuperação, processamento e importação de resultados de testes estudantis. Junto com a Campus Management, a instituição realizou melhorias significativas no processo de negócios e diminuiu as despesas operacionais nas áreas de serviço, administração e infraestrutura de funcionários. Ao automatizar processos, a Universidade Asbury economizou mais de 300 horas de trabalho e garantiu 100% de exatidão e completude dos dados de teste.</p>
    
    <p><strong>Ultimate Medical Academy</strong> (Sucesso Estudantil) – Usando o workflow do CampusNexus da Campus Management,  a instituição educacional sem fins lucrativos de saúde melhorou a eficiência operacional de seu Escritório de Registros automatizando o agendamento estudantil. Trabalhar com a Campus Management não só beneficiou o registrador, substituindo um processo de trabalho intensivo, mas também impactado positivamente outros departamentos em seus esforços para melhorar continuamente os serviços estudantis.</p>
    
    <p><strong>Unicesumar</strong> (Visão Estratégica e Inovação) – Usando o CampusNexus CRM da Campus Management para automatizar o processo de comunicação, permitiu que a Unicesumar aumentasse os esforços de recrutamento e retenção e em paralelo melhorar a eficiência do call center. No final de 2017, a Unicesumar aumentou em 31% (ano-sobre-ano) seu recrutamento e melhorou a eficiência dos agentes de 3,8 para 5,5 matriculas por dia, automatizando as chamadas de entrada e saída.</p>

    <h2 class="ht--p--400 ht--p--16 c-font-color-text-dark article__subtitle">Sobre a Campus Management Corp.</h2>

        <p>Campus Management é uma fornecedora líder de cloud-based SIS, CRM e ERP. Soluções e serviços que transformam instituições de Ensino Superior. Hoje, mais de 1.100 instituições em mais de 30 países se associaram à Campus Management para transformar a entrega acadêmica, sucesso estudantil e eficiência operacional.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
