---
# <!-- @formatter:off -->
title: Um empresa de Boca Raton, que faz software administrativos para faculdades, está se expandindo globalmente
publish: 2015-05-30
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Um empresa de Boca Raton, que faz software administrativos para faculdades, está se expandindo globalmente.</p>

    <p><span class="boldPharagraphText">Por Doreen Hemlock Sun Sentinel entre em contato com o repórter</span></p>

    <p>A Campus Management Corp. abriu recentemente um escritório no Brasil e modernizou seu grande escritório na Índia. Agora, ela tem clientes em 18 países, incluindo faculdades na Ásia e África.</p>


    <figure class="press-release__figure">
        <img src="/images/pages/news-and-events/press-releases/miltonArticle.jpg" alt="CEO Jim Milton">
        <figcaption class="press-release__figcaption">CEO Jim Milton</figcaption>
    </figure>

    <p>A empresa espera aproximadamente 10 por cento da receita deste ano de vendas fora dos EUA. Essa parte deve aumentar para cerca de 30 por cento em cinco anos, segundo o CEO, Jim Milton, em uma entrevista.</p>

    <p>Ela está com foco no crescimento externo, principalmente nos mercados emergentes em que o inglês é normalmente utilizado, onde a economia e as classes médias estão crescendo e o modelo de faculdades semelhantes ao sistema norte-americano.</p>

    <p>&quot;Os Estados Unidos ainda é a estrela para o ensino superior no mundo&quot;, disse Milton, observando que muitas faculdades no exterior estão adotando programas educacionais mistos presenciais e on-line, popular nos EUA.</p>

    <p>Fundada por um empresário no sul da Flórida em 1988, a Campus Management começou fornecendo software, principalmente para faculdades privadas com fins lucrativos nos EUA, a Keiser University estava entre seus primeiros clientes.</p>


    <figure class="press-release__figure">
        <img src="/images/pages/news-and-events/press-releases/indiaOffice.jpg" alt="India Office">
        <figcaption class="press-release__figcaption">Campus Management Corp.'s new office in India.</figcaption>
    </figure>

    <p>Em 2008, a empresa foi comprada por uma firma de capital privado de Nova York chamada Leeds, centrada em educação. A Leeds incentivou o impulso de estratégia de vendas globais para a equipe da Campus Management. </p>

    <p>No final de 2008, a Leeds comprou os ativos de uma empresa de software na Índia chamada Talisma. Isso forneceu a Campus Management engenheiros de software na Índia, onde os custos laborais são muito mais baixos do que os EUA.</p>

    <p>Há três anos, a Campus Management também começou a vender seu software no exterior. Agora, ela lida com algumas vendas diretamente da Índia, especialmente para nações vizinhas no sudeste da Ásia e da África. Isso ajudou a aumentar a sua base de funcionários na Índia para cerca de 350 — ou cerca de metade dos funcionários da empresa a nível mundial.</p>

    <p>A expansão no exterior deve impulsionar as vendas da empresa este ano, para cerca de US$ 100 milhões, disse Milton.</p>

    <p>Isso é uma boa notícia para Kelly Smallridge, que lidera o Conselho de Desenvolvimento de Negócios do Condado de Palm Beach. Seu grupo tem como alvo a sede da empresa, empresas de software e negócios internacionais, como áreas de crescimento no condado. Ela está satisfeita que agora a Campus Management emprega cerca de 300 funcionários no sul da Flórida, de desenvolvedores de software a pessoas com habilidades em português. </p>

    <p>&quot;É mais um sinal de que a sede da empresa está prosperando aqui&quot;, disse Smallridge.</p>

    <p>Milton, agora com 54 anos, assumiu o posto de CEO na Campus Management em agosto, depois de uma carreira em negócios internacionais e na expansão de empreendimentos. Criado no Canadá, ele trabalhou em vendas internacionais de fabricantes de softwares UGS e outras empresas, até mesmo abrindo filiais no Reino Unido e China. Ele também liderou uma operação com 15.000 funcionários na América do Norte para a fabricante de computadores Compaq.</p>

    <p>Milton disse que seu maior desafio no novo impulso global está em escolher quais mercados externos focar e dimensioná-los de forma eficaz. Pode demorar de 18 a 24 meses para uma faculdade escolher um fornecedor de software. E muitas escolas ponderam a experiência dos outros em seu país, antes de fazer a seleção.</p>

    <p>&quot;Você tem que estar completamente dedicado e certificar-se de que tem uma implementação bem-sucedida”, em sua entrada inicial em um novo mercado, disse Milton. Propagar os esforços de forma muito limitada e não executá-los bem pode levar ao fracasso.</p>

    <p>Para ter certeza, os EUA continuam sendo o maior mercado da Campus Management e seu software ajuda a faculdade a gerenciar três áreas principais: relações com os clientes, informações de alunos e recursos humanos, finanças e folha de pagamento. Milton estima que o mercado em potencial para esses produtos nas faculdades dos EUA seja em cerca de US$ 2,2 bilhões por ano ou quase metade do mercado educacional mundial de US$ 5 bilhões.</p>

    <p>A competição é difícil para as vendas. Para os sistemas de informações do estudante por exemplo, a Campus Management em 2014 foi a companhia mas bem sucedida a atingir faculdades privadas, para fins lucrativos, e escolas menores. Seus rivais — incluindo a Workday Student, PeopleSoft Campus e Ellucian — tinham uma vantagem em outros segmentos, disse um novo relatório da pesquisa de ensino superior do Tambellini Group, com sede na Virginia.</p>

    <p>As demandas universitárias estão mudando muito à medida que a tecnologia se move de servidores para a nuvem baseada na Internet, disse Tambellini.</p>

    <p>dhemlock@sunsentinel.com, 305-810-5009, @dhemlock no Twitter</p>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
