---
# <!-- @formatter:off -->
title: A Estácio S.A. vence o prêmio da Campus Management por Excelência em Visão Estratégica
publish: 2015-05-14
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">{{title}}</p>

    <p>
        <b>Boca Raton, Florida – 14 de maio 2015 –</b>
        <a href="/">Campus Management Corp.</a>,
        uma provedora líder de produtos e serviços de software empresarial para o ensino superior tem o prazer de
        anunciar que a Estácio S.A. ganhou o Prêmio de Excelência em Visão Estratégica por sua concretização em
        operações de admissão. A Universidade foi uma das cinco instituições de todo o mundo reconhecida pela Campus
        Management como parte de seu programa de Prêmios de Excelência para 2015.
    </p>

    <p>
        A Estácio, que é composta de 430 mil alunos, queria criar procedimentos de divulgação e acompanhamento mais
        eficazes, levando-os a integrar o seu call center com a solução CRM ágil da Campus Management para o suporte de
        chamadas externas e internas. Esta integração permitiu que a Estácio mantivesse um registro eletrônico de todas
        as interações com cada componente e identificasse com mais facilidade os alunos em potencial e os programas que
        pudessem estar interessados. Através do recrutamento adequado de seu call center para o volume projetado e
        respondendo aos pedidos de informações de diferentes canais de comunicação, a Estácio adotou uma atitude de
        “rapidez para liderar”, acelerando assim, os seus processos e resultados.
    </p>

    <p>
        Com estes dados importantes em mãos, a Estácio poderia entender melhor suas operações de admissão e tomar
        melhores decisões de recrutamento no futuro com base nos objetivos e metas. A Estácio conseguiu identificar como
        se envolver de forma eficaz com os alunos, ao ser mais responsiva às suas perguntas e interesses e tomar as
        medidas adequadas, através de campanhas em massa, bem como interações únicas. Esta abordagem provou ser uma
        enorme vantagem competitiva para a Estácio, permitindo que servissem da melhor forma seus futuros alunos. Como
        resultado da implementação, o tráfego do site da Estácio passou de 575.000 para 800.000 acessos ao longo do ano
        e a conversão de oportunidades passou de 0,6% para 4,6%. Dos 22.000 alunos que se registraram no período após a
        implementação, 12.000 se inscreveram, um ganho de 12% na conversão.
    </p>

    <p>
        “A Campus Management aumentou com sucesso sua presença internacional ao longo dos últimos dois anos,
        particularmente no Brasil com clientes inovadores, como a Estácio”, disse Jim Milton, CEO da Campus Management.
        “A Estácio é um ótimo exemplo de como uma instituição pode aproveitar o poder de CRM para integrar suas várias
        plataformas e refinar suas estratégias em tempo real para atender às demandas dos alunos, aproveitando os dados
        valiosos gerados.”
    </p>

    <p>
        <b>Prêmios de excelência da Campus Management</b><br/>
        A Campus Management instituiu o Programa de Prêmios de Excelência em 2014 para reconhecer cinco faculdades e
        universidades de destaque a cada ano pela excelência nas categorias de atendimento ao cliente, sucesso do aluno,
        eficiência operacional, inovação e visão estratégica. Os prêmios foram entregues aos vencedores na Conferência
        Anual de Usuários do CampusInsight em Orlando em 23 de abril de 2015.
    </p>

    <p>
        As seguintes instituições foram reconhecidas:<br/>
    </p>
    <ul>
        <li>Excelência em Eficiência Operacional – Porter and Chester, Inc. / YTI Career Institute</li>
        <li>Excelência em Sucesso do Aluno –Franklin University</li>
        <li>Excelência em Atendimento ao Cliente – Portland State University</li>
        <li>Excelência em Inovação —Indiana State University</li>
        <li>Excelência em Visão Estratégica – Estácio S.A.</li>
    </ul>
    <p>&#160;</p>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle ">Sobre a Campus Management Corp.</h3>
        <p>Campus Management é líder no fornecimento de tecnologias, soluções e serviços para transformar instituições educacionais. A nova geração de soluções, CampusNexus®, inclui soluções para Alunos, CRM e Finanças, RH e Folha de Pagamento. Atualmente, mais de 2.000 campi em 19 países são parceiros da Campus management para transformar a entrega acadêmica, sucesso do aluno e eficiências operacionas.
    </p>


    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
