---
# <!-- @formatter:off -->
title: Campus Management nomeia Rob Sparks como novo Chief Marketing Officer
publish: 2016-09-26
alt--en: /news-and-events/press-releases/Campus-Management-Names-Rob-Sparks-as-Chief-Marketing-Officer/
alt--en-in: /en-in/news-and-events/press-releases/Campus-Management-Names-Rob-Sparks-as-Chief-Marketing-Officer/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Novo CMO responsável por expandir a posição de liderança global</p>

    <p><b>Boca Raton-FL, EUA - 26 de Setembro de 2016</b> - A Campus Management, líder no desenvolvimento de software,
        soluções e serviços para o mercado de educação anuncia a integração de Rob Sparks como novo Chief Marketing
        Officer a partir de 3 de Outubro. O Sr. Sparks vai aplicar sua extensa experiência no mercado educacional para
        ajudar a empresa a ampliar sua posição de líder global.</p>

    <p>“Rob tem um profundo conhecimento de educação e tecnologia, necessários para transformar e levar ao sucesso as
        instituições num mercado altamente desafiador e competitivo.”, disse Jim Milton, CEO da Campus Management. “Sua
        liderança na indústria – dando direcionamento técnico e functional na implementação de estratégias em diversos
        continentes – o tornam altamente qualificado para gerar crescimento e aumentar o awareness das soluções da
        Campus Management em mais instituições, sistemas educacionais e países.”</p>

    <p>“Presente em 19 países no mundo, a Campus Management trabalha muito próxima a instituições e órgãos
        governamentais para quebrar barreiras e fornecer educação superior e profissional a uma grande quantidade de
        estudantes e trabalhadores.”, disse Sparks. “Tal trabalho, baseado na amplitude e profundidade dos sistemas
        CampusNexus® é altamente transformacional para as pessoas, escolas, faculdades, universidades e países. A Campus
        Management tem uma reputação forte por entregar soluções e serviços inovadores que apoiam estudantes de nossa
        comunidade e em todo o mundo; tenho orgulho em fazer parte deste time, com foco nas intituições acadêmicas das
        comunidades que servimos.”</p>

    <p>Sr. Sparks começou sua carreira na George Brown College em Toronto no Canadá, como responsável pela área de
        pesquisa e inteligência da instituição. Juntou-se à Systems and Computer Technology em 1998 e durante 14 anos
        seguintes trabalhou em diversas responsabilidades na Europa, Oriente Médio e América do Norte. Sr. Sparks foi
        promovido a VP Product Management International com a nova empresa Ellucian, ajudando a estabelecer a estratégia
        de produto para mercados internacionais. A responsabilidade internacional seguinte foi no Reino Unido, como VP
        de Produto e Estratégia na Unit4 Business Software for Education and Research. Recentemente, Sr. Sparks era o
        SVP de Serviço a Parceiros, na Academic Partnerships onde era responsável pela implementação e apoio operacional
        para o programa de gestão de programas online acelerados para instituições públicas. </p>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle ">Sobre a Campus Management Corp.</h3>

        <p>Campus Management é líder no fornecimento de tecnologias, soluções e serviços para transformar instituições
        educacionais. A nova geração de soluções, CampusNexus®, inclui soluções para Alunos, CRM e Finanças, RH e Folha
        de Pagamento. Atualmente, mais de 2.000 campi em 19 países são parceiros da Campus management para transformar a
        entrega acadêmica, sucesso do aluno e eficiências operacionas.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
