---
# <!-- @formatter:off -->
title: Campus Management alcança fortes resultados com o seu programa de expansão global Global Expansion Program
publish: 2015-05-14
products:
  - CampusNexus Student
  - CampusNexus CRM
  - CampusNexus Finance HR & Payroll
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Clientes significativos na Índia, Brazil, África e Malásia</p>

    <p><b>Boca Raton, Florida – (Marketwired - 23 de março de 2015)</b> – – <a href="/">Campus Management
        Corp.</a>, líder em tecnologia e serviços para educação superior, anunciou hoje que obteve resultados bem
        positivos com o seu programa de expansão global, com a aquisição de 47 clientes internacionais nos últimos 24
        meses e, ao mesmo tempo, o aumento do número de clientes internacionais para quase 2.000 campos em 18 países.
    </p>

    <p>&quot;A nossa equipe global trabalhou incansavelmente para estabelecer a Campus Management como parceira de
        confiança para ajudar os clientes de educação superior no mundo. Para capitalizar o nosso footprint global,
        investimos na organização e nos produtos oferecidos para abordar as necessidades de mudanças dos nossos clientes
        nos seus respectivos mercados&quot;, disse Jim Milton, CEO, Campus Management. </p>

    <p>Os clientes mundiais da Campus Management agora incluem algumas das faculdades e universidades particulares e
        vocacionais de maior prestígio, bem como instituições governamentais. Este crescimento amplo tem sido apoiado
        pela suíte da solução CampusNexus® da empresa no mercado de educação superior, incluindo CampusNexus Student,
        Powered by CampusVue®, um robusto student information system (SIS); CampusNexus CRM, Powered by Talisma®, um
        produto constituent relationship management (CRM), e o CampusNexus Finance, HR &amp; Payroll, Powered by
        Microsoft Dynamics® AX, uma solução financeira de educação superior que aproveita a plataforma financeira
        altamente elogiada da Microsoft usada em mais de 20.000 organizações.</p>

    <p>A estratégia de produtos da Campus Management foi desenvolvida baseada na visão da Empresa e seu &quot;Modelo por
        Demanda para Educação Superior&quot; focado na melhoria da atração do constituinte, para oferecer opções de
        prazos e de entregas mais flexíveis, uma perspectiva mundial mais equilibrada com realidades globais, e a
        agilidade para continuar a fazer as mudanças exigidas pela demanda do mercado e a necessidade do estudante.</p>

    <p>O Sr. Milton continuou: &quot;Grande parte do nosso sucesso está atrelado ao compromisso da Campus Management
        para com uma abordagem localizada -- por saber que cada mercado tem seus próprios desafios. Além de renovar e
        avançar toda a nossa suíte e arquitetura de produtos nos últimos dois anos, a nossa equipe global trabalhou em
        conjunto com os nossos clientes de todo o mundo para ajudá-los a se preparar e abordar com eficiência desafios
        como o de entrega de currículo, concorrência, conformidade e supervisão governamental, bem como a necessidade de
        resultados positivos para os alunos&quot;.</p>

    <h3 class="ht--p-400--16 c-font-color-text-dark article__subtitle ">Sobre a Campus Management Corp.</h3>
        <p>Campus Management é líder no fornecimento de tecnologias, soluções e serviços para transformar instituições educacionais. A nova geração de soluções, CampusNexus®, inclui soluções para Alunos, CRM e Finanças, RH e Folha de Pagamento. Atualmente, mais de 2.000 campi em 19 países são parceiros da Campus management para transformar a entrega acadêmica, sucesso do aluno e eficiências operacionas.</p>



    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
