---
# <!-- @formatter:off -->
title: Campus Management vence o prêmio Microsoft Parceiro do Ano 2018 para Educação
publish: 2018-08-10
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

	<h1 class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">{{title}}</h1>

    <h2 class="ht--p--400 ht--p--16 c-font-color-text-dark article__subtitle">Fornecedor líder em SIS baseado em Nuvem, CRM e ERP homenageada por exibir tecnologia para ensino superior</h2>

    <p><b>Boca Raton-FL, Junho, 2018</b> - A Campus Management foi nomeada vencedora do Prêmio Microsoft Parceiro do Ano 2018 para Educação. A companhia foi homenageada entre empresas globais, também parceiras da Microsoft, por ter demonstrado excelência em inovação e implantação de soluções para clientes baseadas em tecnologia Microsoft.</p>
    
    <figure class="press-release__figure">
        <img src="/images/pages/home/homebanner-microsoft-award.png" alt="Microsoft Parceiro do Ano 2018 para Educação">
    </figure>

    <p>“Os reais beneficiários da nossa parceria com a Microsoft são as faculdades e universidades que transformam suas operações e impulsionam melhores proveitos para seus alunos, aproveitando as soluções da Campus Management, que são construídas utilizando tecnologia da Microsoft," disse Jim Milton, CEO da Campus Management. "A Campus Management está honrada por ser selecionada para esse maravilhoso prêmio e pela incrível parceria que estabelecemos com a Microsoft."</p>

    <p>As soluções da Campus Management permitem que instituições do ensino superior aproveitem a segurança e flexibilidade do Microsoft Azure e Microsoft Dynamics365.</p>

    <p>“Nossa rede de parceiros é crucial para entregarmos soluções transformadoras, e os vencedores deste ano provaram ser alguns dos melhores entre seus pares," disse Gavriella Schuster, Vice-Presidente Corporativa, da Microsoft. “Temos o prazer de reconhecer a Campus Management por ser escolhida a grande vencedora do prêmio Microsoft Parceiro do Ano 2018 para Educação.”</p>
    
    <p>Os prêmios foram apresentados em diversas categorias, com vencedores escolhidos de um conjunto de mais de 2.600 participantes de 115 países em todo o mundo. A Campus Management foi reconhecida por fornecer excepcionais soluções e serviços para educação.</p>
    
    <p>A premiação anual reconhece os principais parceiros da Microsoft que demonstram excelência na inovação e implementação de soluções para os clientes com base na tecnologia Microsoft.</p>

    <h2 class="ht--p--400 ht--p--16 c-font-color-text-dark article__subtitle">Sobre a Campus Management Corp.</h2>

        <p>Campus Management é uma fornecedora líder de sistemas em nuvem como SIS, CRM e ERP, soluções e serviços que transformam instituições de Ensino Superior. Hoje, mais de 1.100 instituições em mais de 30 países se associaram à Campus Management para transformar a entrega acadêmica, sucesso estudantil e eficiência operacional.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
