---
# <!-- @formatter:off -->
title: Notícias
menu-priority: 0.7
alt--en: /news-and-events/press-releases/
alt--en-in: /en-in/news-and-events/press-releases/
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--press-releases.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/has-document-links-list.css
    inline: true
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article>
    <div class="cmc-article pb2-5--md">
        <header class="c c-font-color-lightest">
            <h1 class="ht--s--38-45 article__title pt2-5--md">{{title}}</h1>
            <p class="ht--p--16-22 pb1 pb2-5--md">
                Sempre há algo inovador na Campus Management. Fique atento as últimas notícias.
            </p>
        </header>
        <div class="bgc--xs--lightest ">
            <div class="box-row ">
                <div class="col-xs-12 box-item box-item--no-padding">
                    {{>press-releases-preload-data-pt-br}}

                    <section
                        id="pressReleasesApp"
                        class="app "
                    >
                        <div class="loading--placeholder">Loading...</div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
