---
# <!-- @formatter:off -->
title: Sobre Nós
banner-image: /images/pages/about-us/banner-about-us.png
alt--en: /about-us/
alt--en-in: /en-in/about-us/
menu-priority: 0.2
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" alt="" />
    <h1 class="ht--p--14 c-font-color-text-darker">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Sobre a Campus Management</p>

    <p>Campus Management é líder no fornecimento de tecnologias, soluções e serviços para transformar instituições educacionais. A nova geração de soluções, CampusNexus®, inclui soluções para Alunos, CRM e Finanças, RH e Folha de Pagamento. Atualmente, mais de 2.000 campi em 20 países são parceiros da Campus management para transformar a entrega acadêmica, sucesso do aluno e eficiências operacionas.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--rad-ps-cs-news--pt-br]}}
{{/content}}

{{/extend}}
