---
# <!-- @formatter:off -->
title: A Baker University transforma o recrutamento para superar os objetivos com o CRM
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--webcast-form.js
    inline: true
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <header class="header--insights c-font-color-lightest">
        <h1 class="ht--s--38-45 article__title">{{title}}</h1>
    </header>

    <div class="bgc--xs--lightest">
        <div class="box-row ">
            <div class="box-item box-item--insight box-item--not-flex col-xs-12">

                {{> form-wall-form--pt-br site='cmc' group='pt-br'
                webcast='a-Baker-University-transforma-o-recrutamento-para-superar-os-objetivos-com-o-CRM'
                hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

                <div class="header-with-video header-with-video--centered form-wall-video">

                    <div class="header-with-video__video">
                        <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                            <iframe
                                class="youtube-player__video-iframe"
                                src="//www.youtube.com/embed/TOdslAS2ENA?wmode=transparent&autoplay=0"
                                frameborder="0"
                                allowfullscreen
                                style="display:block"
                                title="{{title}}"
                            ></iframe>
                        </div>
                        <p class="header-with-video__air-date">Data da transmissão original: May, 14 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <p class="ht--p--14-075 box-item__text">
                    Não importa se você está em uma faculdade nova ou uma instituição bem estabelecida, a tecnologia CRM
                    tornou-se uma ferramenta fundamental para alcançar os objetivos e resultados de recrutamento. Basta
                    perguntar à Baker University, a primeira universidade estabelecida em Kansas e recentemente
                    reconhecida pela publicação do Colleges of Distinction por seu compromisso em estimular os alunos e
                    obter resultados bem sucedidos.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Junte-se à Baker University e ao Campus Management para obter um olhar revelador sobre como você
                    pode transformar os processos de recrutamento e admissão conduzidos manualmente em estratégias
                    orientadas por CRM que ajudam a atender e superar os seus objetivos.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Dutante este Webcast, a CIO da Baker University, Andy Jett, e o Diretor Sênior de Admissões, Kevin
                    Kropf, vão discutir como eles alinham a tecnologia e o pessoal aos objetivos do departamento através
                    do CRM. Durante este Webcast, eles vão discutir como você pode:
                </p>

                <ul class="ht--p--14-075 box-item__text list--normal">
                    <li>Utilizar o poder do CRM para campanhas e incentivos direcionados.</li>
                    <li>Aumentar a responsabilidade entre os departamentos, conselheiros e outros funcionários.</li>
                    <li>Estabelecer uma parceria entre a TI e as admissões.</li>
                </ul>

                <p class="ht--p--14-075 box-item__text">
                    Descobrir o potencial do CRM em transformar os seus processos de recrutamento e admissão.
                </p>


                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Presenters
                </h2>
                <ul class="presenter-list">
                    <li>
                        <span class="presenter-list__presenter-name">Kevin Kropf</span>,
                        <span class="presenter-list__presenter-title">Diretor Sênior de Admissões</span>,
                        <span class="presenter-list__presenter-company">Baker University</span>
                    </li>
                    <li>
                        <span class="presenter-list__presenter-name">Andy Jett</span>,
                        <span class="presenter-list__presenter-title">Gerente de TI</span>,
                        <span class="presenter-list__presenter-company">Baker University</span>
                    </li>
                    <li>
                        <span class="presenter-list__presenter-name">Jason Soffer</span>,
                        <span class="presenter-list__presenter-title">Gerente de produtos CRM</span>,
                        <span class="presenter-list__presenter-company">Campus Management Corp.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--3-testimonials--pt-br]}}
{{/content}}

{{/extend}}
