---
# <!-- @formatter:off -->
title: Descubra como a Penn State está conduzindo o crescimento através da implementação conjunta do CRM
alt--en: /higher-education-resources/webcasts/discover-how-penn-state-is-driving-growth-through-joint-crm-implementation/
alt--en-in: /en-in/higher-education-resources/webcasts/discover-how-penn-state-is-driving-growth-through-joint-crm-implementation/
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--webcast-form.js
    inline: true
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <header class="header--insights c-font-color-lightest">
        <h1 class="ht--s--38-45 article__title">{{title}}</h1>
    </header>

    <div class="bgc--xs--lightest">
        <div class="box-row ">
            <div class="box-item box-item--insight box-item--not-flex col-xs-12">

                {{> form-wall-form--pt-br site='cmc' group='pt-br'
                webcast='descubra-como-a-Penn-State-esta-conduzindo-o-crescimento-atraves-da-implementacao-conjunta-do-CRM'
                hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}


                <div class="header-with-video header-with-video--centered form-wall-video">

                    <div class="header-with-video__video">
                        <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                            <iframe
                                class="youtube-player__video-iframe"
                                src="//www.youtube.com/embed/lSv_Aem2C5s?wmode=transparent&autoplay=0"
                                frameborder="0"
                                allowfullscreen
                                style="display:block"
                                title="Descubra como a Penn State está conduzindo o crescimento através da implementação conjunta do CRM"
                            ></iframe>
                        </div>
                        <p class="header-with-video__air-date">Data da transmissão original: October 30, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">
                <p class="ht--p--14-075 box-item__text">
                    Em 2007, a Penn State embarcou em uma iniciativa ambiciosa de crescimento para seu programa online,
                    o World Campus. Mas o que começou como uma meta para ampliar as inscrições no World Campus com a
                    implantação de uma solução empresarial do CRM, agora conduz comunicações de recrutamento, campanhas
                    e fluxos de trabalho no departamento de admissões do campus principal da University Park, bem como
                    de todos os 20 campi da Penn State. Atualmente, esta expansão do CRM nos departamentos e programas
                    de admissões contribuiu para uma melhor análise dos interesses e metas dos pretendentes e das
                    estratégias de marketing direcionadas a eles.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Durante o Webcast, Kate Tornatore, Gerente de projetos de CRM para o World Campus da Penn State, e
                    Tara Blomvall, Analista comercial do Departamento de admissões da graduação, apresentaram uma
                    maneira de como ampliar sua instituição usando o CRM.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Os tópicos incluem:
                </p>
                <ul class="ht--p--14-075 box-item__text list--normal">
                    <li>
                        Usar o CRM para atingir os alunos mais qualificados através de campanhas e comunicações
                        altamente personalizadas.
                    </li>
                    <li>Usar o CRM para acelerar e aprimorar interações com os proponentes, candidatos e alunos</li>
                    <li> A chave para capacitar diferentes departamentos do campus para melhorar a experiência do aluno
                    </li>
                </ul>

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Quem se beneficiará:
                </h2>
                <p class="ht--p--14-075 box-item__text">
                    Diretor/VPs de admissões, retenção, inscrições, sucesso do aluno, estratégia, tecnologia da
                    informação, CTOs e CIOs interessados em conduzir o crescimento e melhorar a eficiência institucional
                    usando o CRM.
                </p>

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Apresentadores
                </h2>
                <ul class="presenter-list">
                    <li>
                        <span class="presenter-list__presenter-name">Kate Tornatore</span>,
                        <span class="presenter-list__presenter-title">Gerente de projetos do CRM</span>,
                        <span class="presenter-list__presenter-company">World Campus da Penn State</span>
                    </li>
                    <li>
                        <span class="presenter-list__presenter-name">Tara Blomvall</span>, <span
                        class="presenter-list__presenter-title"
                    >Analista comercial do departamento de admissões da graduação</span>,
                        <span class="presenter-list__presenter-company">Penn State</span>
                    </li>
                    <li>
                        <span class="presenter-list__presenter-name">Jason H. Soffer</span>,
                        <span class="presenter-list__presenter-title">Gerente, Marketing de produtos</span>,
                        <span class="presenter-list__presenter-company">Campus Management Corp.</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--3-testimonials--pt-br]}}
{{/content}}

{{/extend}}
