---
# <!-- @formatter:off -->
title: Estrategias Bem Sucedidas Para o Crescimento e o Sucesso Apresentando a Universidade Positivo
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--webcast-form.js
    inline: true
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <header class="header--insights c-font-color-lightest">
        <h1 class="ht--s--38-45 article__title">{{title}}</h1>
    </header>

    <div class="bgc--xs--lightest">
        <div class="box-row ">
            <div class="box-item box-item--insight box-item--not-flex col-xs-12">

                {{> form-wall-form--pt-br site='cmc' group='pt-br'
                webcast='estrategias-bem-sucedidas-para-o-crescimento-e-o-sucesso-apresentando-a-Universidade-Positivo'
                hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

                <div class="header-with-video header-with-video--centered form-wall-video">

                    <div class="header-with-video__video">
                        <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                            <iframe
                                class="youtube-player__video-iframe"
                                src="//www.youtube.com/embed/sqjR8BmOsr8?wmode=transparent&autoplay=0"
                                frameborder="0"
                                allowfullscreen
                                style="display:block"
                                title="Estrategias Bem Sucedidas Para o Crescimento e o Sucesso Apresentando a Universidade Positivo"
                            ></iframe>
                        </div>
                        <p class="header-with-video__air-date">Data da transmissão original: 31 Ago 2017</p>
                    </div>
                </div>
                <ul class="cmc-article__link-list">
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button cmc-article__link"
                            href="/documents/Junte-se-a-Campus-Management-e-Universidade-Positivo.pdf"
                            target="_blank"
                            rel="noopener"
                        > Download da Apresentação
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">

                <p class="ht--p--14-075 box-item__text">
                    Estabelecida há mais de três décadas atrás no estado do Paraná, Brasil, a Universidade Positivo
                    recentemente recebeu o prêmio Campus Management de excelência em visão estratégica por sua
                    capacidade de antecipar e realizar mudanças através de modelos acadêmicos, metodologias de
                    engajamento do estudante, desenvolvimento dos colaboradores e práticas de retenção.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Agora junte-se ao representante da Universidade Positivo e da Campus Management para um webinar que
                    revela como a instituição cresceu a sua população estudantil em 25% em 2015 e um adicional de 11% em
                    2016.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Explore as melhores práticas que permitem que você transforme com tendências econômicas e
                    educacionais em seu país e colocar um plano em prática para alcançar o crescimento em torno desses
                    desafios.
                </p>

                <p class="ht--p--14-075 box-item__text">
                    Esperamos sua participação nos próximos eventos.
                </p>

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Apresentadores
                </h2>
                <ul class="presenter-list">
                    <li>
                        <span class="presenter-list__presenter-name">Ronaldo Hofmeister</span>,
                        <span class="presenter-list__presenter-title">Diretor de marketing e relacionamento</span>,
                        <span class="presenter-list__presenter-company">Universidade Positivo</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--3-testimonials--pt-br]}}
{{/content}}

{{/extend}}
