---
# <!-- @formatter:off -->
title: Webcasts
in-nav--pt-br: false
banner-image: /images/pages/higher-education-resources/banner-webcasts-circle.png
alt--en: /higher-education-resources/webcasts/
alt--en-in: /en-in/higher-education-resources/webcasts/
additional-stylesheets:
  - href: /styles/pages/has-archive-list.css
    inline: true
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article ">
    <header class="c c-font-color-lightest">
        <img
            class="cmc-article__article-image cmc-article__article-image--app"
            src="{{banner-image}}"
            alt=""
        />
        <h1 class="ht--s--38-45 article__title">Webcasts Arquivados</h1>
    </header>
</div>


<div class="bgc--xs--box-bg-grey">
    <div class="box-row">
        <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
            <p class="ht--p--16-20 box-item__category">
                On-Demand Webinar
            </p>
            <h2 class="ht--s--22-28 box-item__title c-theme-primary-dark">
                Estrategias Bem Sucedidas Para o Crescimento e o Sucesso
                Apresentando a Universidade Positivo
            </h2>
            <a
                class="pill-button box-item__link c"
                href="{{url-lang-prefix}}/noticias-e-eventos/webcasts/estrategias-bem-sucedidas-para-o-crescimento-e-o-sucesso-apresentando-a-Universidade-Positivo/"
                target="_blank"
                rel="noopener"
            >Resumo
            </a>
        </div>
        <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-4 bgc--xs--box-bg-alt">
            <p class="ht--p--16-20 box-item__category">
                On-Demand Webinar
            </p>
            <h2 class="ht--s--22-28 box-item__title c-theme-primary-dark">
                Descubra como a Penn State está conduzindo o crescimento
                através da implementação conjunta do CRM
            </h2>
            <a
                class="pill-button box-item__link c"
                href="{{url-lang-prefix}}/noticias-e-eventos/webcasts/descubra-como-a-Penn-State-esta-conduzindo-o-crescimento-atraves-da-implementacao-conjunta-do-CRM/"
                target="_blank"
                rel="noopener"
            >Resumo
            </a>
        </div>
        <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
            <p class="ht--p--16-20 box-item__category">
                On-Demand Webinar
            </p>
            <h2 class="ht--s--22-28 box-item__title c-theme-primary-dark">
                A Baker University transforma o recrutamento para superar os
                objetivos com o CRM
            </h2>
            <a
                class="pill-button box-item__link c"
                href="{{url-lang-prefix}}/noticias-e-eventos/webcasts/a-Baker-University-transforma-o-recrutamento-para-superar-os-objetivos-com-o-CRM/"
                target="_blank"
                rel="noopener"
            >Resumo
            </a>
        </div>
    </div>
</div>

<div class="bgc--xs--box-bg-alt">
    <div class="box-row">
        <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-4 bgc--xs--box-bg-alt">
            <p class="ht--p--16-20 box-item__category">
                On-Demand Webinar
            </p>
            <h2 class="ht--s--22-28 box-item__title c-theme-primary-dark">
                Transformando os programas acadêmicos para aprendizes sob
                demanda
            </h2>
            <a
                class="pill-button box-item__link c"
                href="{{url-lang-prefix}}/noticias-e-eventos/webcasts/transformando-os-programas-academicos-para-aprendizes-sob-demanda/"
                target="_blank"
                rel="noopener"
            >Resumo
            </a>
        </div>
        <div class="box-item box-item--empty box-item--info-box-v2 col-xs-12 col-sm-4 bgc--xs--box-bg-grey">
           &nbsp;
        </div>
        <div class="box-item box-item--empty box-item--info-box-v2 col-xs-12 col-sm-4  bgc--xs--box-bg-alt">
            &nbsp;
        </div>
    </div>
</div>
{{/content}}

{{#content "after-body"}}
<div class="bgc--xs--theme-tertiary">
    <div class="box-row">
        <div class="box-item box-item--no-min-height box-item--flex-none col-xs-12 col-sm-6 col-sm-offset-6 ">
            <div class="testimonial smaller">
                <p class="c-font-color-text-darkest ht--p--18 testimonial__quote--smaller">
                    Temos a confiança de que CampusNexus vai permitir a Lancaster Bibble College a continuar crescendo e
                    servindo aos estudantes com um modelo sustentável.
                </p>
            </div>
            <div class="testimonial__author--v2 c-font-color-text-darkest ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Vince Johnson,</div>
                <div class="testimonial__author__title--v2">VP de Tecnologia</div>
                <div class="testimonial__author__company--v2">Lancaster Bibble College</div>
            </div>
        </div>
    </div>
</div>

{{/content}}

{{/extend}}
