---
# <!-- @formatter:off -->
title: Transformando os programas acadêmicos para aprendizes sob demanda
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--webcast-form.js
    inline: true
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <header class="header--insights c-font-color-lightest">
        <h1 class="ht--s--38-45 article__title">{{title}}</h1>
    </header>

    <div class="bgc--xs--lightest">
        <div class="box-row ">
            <div class="box-item box-item--insight box-item--not-flex col-xs-12">

                {{> form-wall-form--pt-br site='cmc' group='pt-br'
                webcast='transformando-os-programas-academicos-para-aprendizes-sob-demanda'
                hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}


                <div class="header-with-video header-with-video--centered form-wall-video">

                    <p>
                        Instituições de ensino superior em toda a América do Norte estão conscientes dos desafios atuais
                        de financiamento, envolvimento dos alunos e resultados e a necessidade de ser eficiente. Os
                        problemas são conhecidos, mas como as instituições poderão superá-los para atingir taxas recorde
                        de inscrições e retenção e aumentar a estabilidade financeira, enquanto mantém a integridade
                        acadêmica? A resposta está na transformação dos programas acadêmicos tradicionais para atender
                        às necessidades da crescente população atual de aprendizes não tradicionais sob demanda.
                    </p>


                    <div class="header-with-video__video">
                        <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                            <iframe
                                class="youtube-player__video-iframe"
                                src="//www.youtube.com/embed/eGgKIaovm-w?wmode=transparent&autoplay=0"
                                frameborder="0"
                                allowfullscreen
                                style="display:block"
                                title="Transforming Education Programs for On-Demand Learners"
                            ></iframe>
                        </div>
                        <p class="header-with-video__air-date">Data da transmissão original: March 27, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgc--xs--nav-bg">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12">

                <p class="ht--p--14-075 box-item__text">
                    Connor Gray e Raymond Todd Blackwood falam sobre como as faculdades e universidades podem usar a
                    tecnologia avançada para:
                </p>

                <ul class="ht--p--14-075 box-item__text list--normal">
                    <li>Expor as instituições para atrair, envolver e educar alunos sob demanda</li>
                    <li>Reduzir o fardo administrativo de gerenciar programas tradicionais e não tradicionais através da
                        automação
                    </li>
                    <li>Possibilitar o crescimento enquanto protege a segurança financeira e identidades exclusivas de
                        suas instituições
                    </li>
                </ul>

                <h2 class="ht--p-400--16 c-font-color-text-dark article__subtitle">
                    Apresentadores
                </h2>
                <ul class="presenter-list">
                    <li>
                        <span class="presenter-list__presenter-name">Connor Gray</span>,
                        <span class="presenter-list__presenter-title">Diretor de estratégia</span>,
                        <span class="presenter-list__presenter-company">Campus Management Corp.</span>
                    </li>
                    <li>
                        <span class="presenter-list__presenter-name">Raymond Todd Blackwood</span>,
                        <span class="presenter-list__presenter-title">Diretor de gerenciamento de produtos</span>,
                        <span class="presenter-list__presenter-company">Campus Management Corp.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{>[box-v3/combo--3-testimonials--pt-br]}}
{{/content}}

{{/extend}}
