---
# <!-- @formatter:off -->
title: Notícias e Eventos
banner-image: /images/pages/news-and-events/Banner_pr.gif
menu-priority: 0.4
alt--en: /news-and-events/
alt--en-in: /en-in/news-and-events/
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-classes: page-bg-image--centered
additional-scripts:
    - src: /scripts/page--recent-news.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<article>
    <div class="cmc-article">
        <header class="c c-font-color-lightest">
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
            <p class="ht--p--16-22">
                Campus Management na Mídia
            </p>
        </header>
    </div>
    <div class="bgc--xs--lightest">
        <div class="box-row ">
            <div class="box-item col-xs-12 ">
                <h2 class=" c box-item__title ht--s--28 c-theme-primary-dark">Noticias</h2>
                {{>recent-press-release-list-pt-br}}
            </div>
        </div>
    </div>
</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}

