---
# <!-- @formatter:off -->
title: Firebase Test
show-in-left-nav: false
private: true
publish: draft
pageCssClass: hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--ci-firebase-test.js
      inline: false
    - src: /scripts/page--ci.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/ci.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="cmc-article">
    <style>
        .db {
            border: 1px solid red;
            height: 333px;
            overflow: auto;
            display: block;
            padding: 5px;
            margin: 10px 0;
            font-family: monospace;
            font-size: 11px;
            line-height: 1;
        }
        .support-consultations-dl-xls {
            margin-bottom: 20px;
        }
    </style>

    <section class="support-consultations-dl-xls">
        <h1 class="ht--s--38 c-theme-primary-dark">{{title}}</h1>
        <div id="CiAppMountPoint" data-year="2020">
            <pre class="db"></pre>
            <button type="button" class="resetDbBtn pill-button">
                Reset Db
            </button>
            <button type="button" class="addUserBtn pill-button">
                Add User
            </button>
            <button type="button" class="addUserAppt1Btn pill-button">
                Add Appointment
            </button>
            <button type="button" class="delUserAppt1Btn pill-button">
                Delete Appointment
            </button>
            <button type="button" class="reloadBtn pill-button">
                Reload View
            </button>
        </div>
    </section>
    <ul style="opacity: 1">
        <li class="top-nav-menu__item--account--unauthenticated auth-year-2020">
            <button
                type="button"
                data-target="#AccountModal-2020"
                data-toggle="modal"
                class="top-nav-menu__account-btn"
                title="Sign In"
            >
                Sign In
            </button>
        </li>

        <li
            class="top-nav-menu__item--account--authenticated auth-year-2020 mt1"
        >
            <button
                type="button"
                class="top-nav-menu__account-btn sign-out-button"
                title="Sign Out"
                data-year="2020"
            >
                Sign Out
            </button>
        </li>
        <li><span class="authenticated-user-email"></span></li>
    </ul>
</div>
{{>login-modal not-year="2020"}} {{/content}} {{/extend}}
