---
# <!-- @formatter:off -->
title: '2020'
in-nav--pt-br: false
private: true
pageCssClass: auth-loading hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--ci.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/ci.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="cmc-article">
    <ul>
        <li>
            <a href="/ci/support-consultations-grid/"
                >Support Consultations Grid</a
            >
        </li>
        <!--
            <li>
                <a href="./support-consultations/">Support Consultations Signup</a> (shows in iframe on goeshow.com)
            </li>
        -->
        <li>
            <a href="/ci/support-consultations-dl-xls/"
                >Support Consultations Download XLS</a
            >
        </li>
    </ul>

    <ul style="opacity: 0">
        <li
            class="top-nav-menu__item--account--unauthenticated auth-year-2020"
        >
            <button
                type="button"
                data-target="#AccountModal-2020"
                data-toggle="modal"
                class="top-nav-menu__account-btn"
                title="Sign In"
            >
                Sign In
            </button>
        </li>

        <li
            class="top-nav-menu__item--account--authenticated auth-year-2020 mt1"
        >
            <button
                type="button"
                class="top-nav-menu__account-btn sign-out-button"
                title="Sign Out"
                data-year="2020"
            >
                Sign Out
            </button>
        </li>
        <li><span class="authenticated-user-email"></span></li>
    </ul>
</div>
{{>login-modal not-year="2020"}} {{/content}} {{/extend}}
