---
# <!-- @formatter:off -->
title: Support Consultations Import
show-in-left-nav: false
private: true
publish: draft
additional-scripts:
  - src: /scripts/page--ci-import.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/support-consultations-import.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3-no-footer"}}
{{#content "body"}}
<div class="layout__bg--top">
    <!-- fake -->
    <div class="left-nav-menu__layout-container">
        <div id="mainNav"></div>
    </div>
</div>
<section class="support-consultations-import">
    <h1 class="support-consultations-import__title cmc-article__subtitle ht--s--38 c-theme-primary-dark">
        Support Consultations Import
    </h1>
    <div
        id="CiAppMountPoint"
        data-year="2018"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}}

{{/extend}}
