<footer class='cmc-footer container cmc-footer--pt-br'>
    <div class='vcard vcard cmc-footer__vcard'>
        <div class='cmc-footer__vcard__org cmc-footer__vcard__org--pt-br'>
            <div class='fn org cmc-footer__section-title'>
                Campus Management Brasil
            </div>
            <div class='adr'>
                <div class='street-address'>
                    Av. Brig. Faria Lima, 1485, sala 202
                </div>
                <span class='locality'>
                    Jardim Paulistano
                </span>
                <span class='region'>
                    São Paulo
                </span>
                – SP, CEP:
                <span class='postal-code'>
                    01452-002
                </span>
            </div>
        </div>

        <div class='cmc-footer__contact-container'>
            <div class='cmc-footer__vcard__contact-numbers'>
                <div class='cmc-footer__section-title'>
                    Contato
                </div>

                <div class='tel'>
                    <span class='type'>
                        Telefone:
                    </span>
                    <span class='value'>
                        +55 (11) 3797-6747
                    </span>
                </div>
                <div class='tel'>
                    <span class='type'>
                        Suporte:
                    </span>
                    <span class='value'>
                        +1 800.483.9106
                    </span>
                </div>
            </div>
            <div class='cmc-footer__contact-links'>
                <div class='cmc-footer__section-title'></div>
                <ul>
                    <li>
                        <a href="{{url-lang-prefix}}/contato/?reason=Sales">
                            Agende uma visita
                        </a>
                    </li>
                    <li>
                        <a href="{{url-lang-prefix}}/contato/?reason=Support">
                            Suporte
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class='cmc-footer__solucoes-links'>
        <div class='cmc-footer__section-title'>
            Soluções
        </div>
        <ul>
            <li>
                <a href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM/">
                    CampusNexus CRM
                </a>
            </li>
        </ul>
    </div>

    <div class='cmc-footer__news-about-container'>
        <div class='cmc-footer__news-and-events-links'>
            <div class='cmc-footer__section-title'>
                Notícias e Eventos
            </div>
            <ul>
                <li>
                    <a href="{{url-lang-prefix}}/noticias-e-eventos/">
                        Notícias e Eventos
                    </a>
                </li>
            </ul>
        </div>
        <div class='cmc-footer__about-us-links'>
            <div class='cmc-footer__section-title'>
                Campus Management
            </div>
            <ul>
                <li>
                    <a href="{{url-lang-prefix}}/sobre-nos/">
                        Sobre Nós
                    </a>
                </li>
                <li>
                    <a href="https://www.anthologyinc.com/leadership" target="_blank" rel="noopener">
                        Equipe de Gestão
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='footer__logo-container'>
        <!--
            <img
                src="/images/pages/home/Microsoft-partner-logo.png"
                alt="Microsoft Partner of the Year Education Award"
            />
            -->
    </div>
    <ul class='social-media-links'>
        <li>
            <a
                class='social-media-links--facebook'
                href='https://www.facebook.com/TheAnthologyInc'
                title='Friend us on facebook'
                target='_blank'
                rel='noopener'
            >
                Facebook
            </a>
        </li>
        <li>
            <a
                class='social-media-links--insta'
                href='https://www.instagram.com/anthology_inc'
                title='Follow us on Instagram'
                target='_blank'
                rel='noopener'
            >
                Instagram
            </a>
        </li>
        <li>
            <a
                class='social-media-links--twitter'
                href='https://twitter.com/AnthologyInc'
                title='Follow us @AnthologyInc on Twitter'
                target='_blank'
                rel='noopener'
            >
                Twitter
            </a>
        </li>

        <li>
            <a
                class='social-media-links--linkedin'
                href='https://www.linkedin.com/company/anthologyinc'
                title='Connect with us on LinkedIn'
                target='_blank'
                rel='noopener'
            >
                LinkedIn
            </a>
        </li>
    </ul>

    <small class='cmc-footer__copyright'>
        ©{{thisYear}} Campus Management Corp. All Rights Reserved |
        <a href='https://www.campusmanagement.com/about-us/privacy/'>
            Privacidade
        </a>
        |
        <a href='https://www.campusmanagement.com/about-us/accessibility/'>
            Acessibilidade
        </a>
    </small>
    <div class='cmc-footer__phone-number-wrapper'>
        <div class='cmc-footer__phone-number'>
            +55 (11) 3797-6747
        </div>
    </div>
    <a class='cmc-footer__phone-number--link' href='tel:+551128474962'>
        +55 (11) 3797-6747
        <span>
            Touch to Call
        </span>
    </a>
</footer>
