<div class="form-wall-form-wrapper">

    <p class="c article__intro">Complete o formulário abaixo para assistir a gravação do Webinar.</p>

    <form
        id="FormWallForm"
        class="cmc-form cmc-form--centered form-wall-form"
        action="webcast-form/?site={{safeValue site 'cmc'}}"
        data-lead-source="Webcast Form Wall Form"
        data-post-to-unify="true"
    >
        <fieldset>
            <input type="hidden" name="group" value="pt-br" />
            <ul>
                <li>
                    <label class="required" for="firstName">Primeiro Nome</label>
                    <div class="input-wrapper">
                        <input type="text" name="firstName" id="firstName" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Último Nome</label>
                    <div class="input-wrapper">
                        <input type="text" name="lastName" id="lastName" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">E-mail</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="title">Posição</label>
                    <div class="input-wrapper">
                        <input type="text" name="title" id="title" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="institution">Instituição</label>
                    <div class="input-wrapper">
                        <input type="text" name="institution" id="institution" required />
                    </div>
                </li>
                <li>
                    <label class="" for="phone">Telefone</label>
                    <div class="input-wrapper">
                        <input type="text" name="phone" id="phone" />
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="pill-button cmc-form__submit-button" name="btnSave">Assista o Video</button>
                    <input type="hidden" name="webcast" value="{{safeValue webcast 'not-set'}}" />
                    {{#if hsFormId}}
                        <input type="hidden" name="hsFormId" value="{{hsFormId}}" />
                        <input type="hidden" name="hsPortalId" value="{{@root.config.hubspot.id}}" />
                        <input type="hidden" name="pageUrl" value="" />
                        <input type="hidden" name="pageTitle" value="" />
                        <input type="hidden" name="hutk" value="" />
                    {{/if}}
                </li>
            </ul>
        </fieldset>
    </form>
</div>
