<div class="layout__bg--product-tool-tips">
    <section class="products-and-solutions">
        <h2 class="products-and-solutions__title">Produtos e Soluções</h2>
        <p class="products-and-solutions__sub-title">As plataformas e serviços da Campus Management atendem as demandas da educação no Brasil</p>
        <ul class="products-and-solutions__list">
            <li class="products-and-solutions-item products-and-solutions-item--cnx-crm">
                <h3 class="ht--s--20 products-and-solutions-item__title">CampusNexus<sup>&reg;</sup> CRM</h3>
                <p>Envolva pessoas com comunicações e serviços altamente personalizados</p>
                <a class="pill-button products-and-solutions-item__details-link"
                   href="{{url-lang-prefix}}/solucoes/CampusNexus-CRM/">Mais Informações</a>
            </li>
        </ul>
    </section>
</div>
